<div class="raceSelectionDiv" *ngIf="!showRace">
        <div class="info" *ngIf="!trainingTrackRace">
                <div class="raceGridContainer">
                        <span class="circuit s5Heading clickableText" (click)="changeDisplayRaceView(raceTypeEnum.circuit)" [ngClass]='displayRaceView === raceTypeEnum.circuit ? "filterActive" : ""'>Circuit Races</span>
                        <span class="local s5Heading clickableText" (click)="changeDisplayRaceView(raceTypeEnum.special)" [ngClass]='displayRaceView === raceTypeEnum.special ? "filterActive" : ""'><span *ngIf="newSpecialRaceAvailable" class="availableIcon">!</span>Special Races</span>
                        <span class="event s5Heading clickableText" (click)="changeDisplayRaceView(raceTypeEnum.event)" [ngClass]='displayRaceView === raceTypeEnum.event  ? "filterActive" : ""'><span *ngIf="eventRaceNowAvailable" class="availableIcon">!</span>Event Races</span>
                        <span class="trainingTrack s5Heading clickableText" (click)="changeDisplayRaceView(raceTypeEnum.trainingTrack)" [ngClass]='displayRaceView === raceTypeEnum.trainingTrack ? "filterActive" : ""'>Training Track</span>
                </div>
        <hr />
        </div>
        <app-circuit-view *ngIf="displayRaceView === raceTypeEnum.circuit" (raceSelected)="raceSelected($event)"></app-circuit-view>
        <app-local-view *ngIf="displayRaceView === raceTypeEnum.special" (raceSelected)="raceSelected($event)"></app-local-view>
        <app-event-view *ngIf="displayRaceView === raceTypeEnum.event" (raceSelected)="raceSelected($event)"></app-event-view>
        <app-training-track-view *ngIf="displayRaceView === raceTypeEnum.trainingTrack" (raceSelectedEmitter)="trainingTrackRaceSelected($event)"></app-training-track-view>
</div>
<div class="raceDiv" *ngIf="showRace">
        <app-race [selectedRace]="selectedRace" (raceFinished)="raceFinished()"></app-race>
</div>