.raceGridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: stretch;
    gap: 1rem;
    grid-template-areas: 
      "circuit local event trainingTrack";
  }

  .raceSelectionDiv {
    height: 100%;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);     
  }

  .circuit {
    grid-area: circuit;
    text-align: center;    
  }

  .local {
    grid-area: local;
    text-align: center;    
  }

  .event {
    grid-area: event;
    text-align: center;    
  }

  .trainingTrack {
    grid-area: trainingTrack;
    text-align: center;    
  }

  .raceDiv {
    height: 100%;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);     
  }

  .filterActive {
    font-weight: bold;
    color: var(--foreground-secondary);
    text-decoration: underline solid Currentcolor;
  }

  .availableIcon {
    color: var(--foreground-quaternary);
    border-radius: 25px;
    background: var(--background-five);
    padding: 0 .5rem;
    margin-right: .25rem;
  }