.gridContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1% 1fr 1fr 10% 1%;
  grid-template-rows: 50%;
  justify-content: stretch;
  grid-template-areas:
    ". name . coins ."
    ". name . medals .";
}

.nameArea {
  grid-area: name;
  justify-self: stretch;

  /*background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);*/
}

.name {
  font-size: 2rem;
}

.coins {
  grid-area: coins;
  justify-self: stretch;

  /*background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);*/
}

.medals {
  grid-area: medals;
  justify-self: stretch;

  /*background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);*/
}

.versionMargin {
  margin-left: .5rem;
}

.dropdown {
  color: var(--foreground-default);
  background-color: var(--background-secondary);
}

.dropdownItems {
  
  background-color: var(--background-secondary);
  color: var(--foreground-default);   
}

.menu {
  display: none;
}

.modalClass {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);
  white-space: pre-line;
}

.popoverClass {
  white-space: pre-line;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .gridContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1% 1fr 1fr 10% 1%;
    grid-template-rows: 50%;
    justify-content: stretch;
    grid-template-areas:
      ". name coins menu ."
      ". name medals menu .";
  }

  .menu {
    display: block;
    grid-area: menu;
    justify-self: stretch;
  }

}