<div class="headerView">
    <div class="gridContainer">
        <div class="nameArea keyword">
            <span class="name">
                Cultura
            </span>
            <span class="version versionMargin clickableText">
                v{{ this.version }}
            </span>
        </div>
        <div class="coins keyword">
            <span>Coins: {{ coinCount }}</span>

        </div>
        <div class="medals keyword">
            <span>Medals: {{ medalCount }}</span>
        </div>
    </div>

</div>