.gridContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1% 1fr 1fr 10% 1%;
    grid-template-rows: 50%;
    justify-content: stretch;
    grid-template-areas: 
      ". name . coins ."
      ". name . medals .";
  }

  .nameArea {
    grid-area: name;   
    justify-self: stretch; 

    /*background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);*/
  }

  .name {    
    font-size: 2rem;
  }

  .coins {
    grid-area: coins;   
    justify-self: stretch; 

    /*background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);*/
  }

  .medals {
    grid-area: medals;   
    justify-self: stretch; 

    /*background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);*/
  }

  .versionMargin {
    margin-left: .5rem;
  }