<div class="headerView">
    <div class="gridContainer">
        <div class="nameArea keyword">
            <span class="name">
                Cultura
            </span>
            <span class="version versionMargin clickableText">
                v{{ this.version }}
            </span>
        </div>
        <div class="coins keyword">
            <span>Coins: {{ coinCount }}</span>

        </div>
        <div class="medals keyword">
            <span>Medals: {{ medalCount }}</span>
        </div>

        <div class="menu keyword">
            <div ngbDropdown #menuDropdown="ngbDropdown" class="d-inline-block">
                <button type="button" class="btn dropdown" id="menuDropdown" ngbDropdownToggle>Menu</button>
                <div ngbDropdownMenu aria-labelledby="menuDropdown" class="dropdownItems">
                    <app-navigation (viewChanged)="changeView($event);" (click)="menuDropdown.close();"></app-navigation>
                </div>
            </div>
        </div>

    </div>