<div class="barn clickableText">
    <div class="unlocked" *ngIf="this.isOccupied">
        <span>{{ barnName }}</span>
        <div [ngClass]="colorConditional" class="keyword" *ngIf="associatedAnimal.name !== associatedAnimal.getAnimalType()">
            <span>{{ this.associatedAnimalName }}</span>
            <br />
            <span>{{ this.associatedAnimalType }}</span>
        </div>
        <div [ngClass]="colorConditional" class="keyword" *ngIf="associatedAnimal.name === associatedAnimal.getAnimalType()">            
            <span>{{ this.associatedAnimalType }}</span>
        </div>
        <br />        
        <p>
            <ngb-progressbar type="success" [value]="this.trainingProgressBarPercent"></ngb-progressbar>
        </p>
        <div [ngClass]="{'floatingProgressTextAnimation': showTrainingAnimation}"
            class="progressBar floatingProgressText progressBarColor keyword">
            {{ trainingCompleteText }}
        </div>
        <br />
        <div *ngIf="readyToBreed">
            <em>Ready to Breed</em>
        </div>
    </div>
    <div class="unassigned" *ngIf="!this.isOccupied && !this.isLocked">
        <span>Unassigned</span>
        <br/>
        <em>Click to assign animal</em>
    </div>
    <div class="locked" *ngIf="this.isLocked">
        <span>Locked</span>
        <br/>
        <em>Click to view status</em>
    </div>
</div>