.barn {
  text-align: center;
  width: 52.5%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

.turnOffPointer {
  pointer-events: none;
}

.floatingProgressText {
  float: right;
  position: relative;
  text-align: right;
  top: -2em;
}

.inlineBlock {
  display: inline-block;
}

.condensedFlex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.condensedBarn {
  text-align: center;  
  margin: .5rem auto .5rem auto;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

.condensedMargin {
  margin-top: auto;
  margin-bottom: auto;
}

.nameWidth {
  width: 32.5%;
}

.barnNameWidth {
  width: 28.5%;
}

.condensedProgressBar {
  width: 20%;
}

.breedWidth {
  width: 15%;
}

.floatingProgressTextAnimation {
  animation-name: floatingProgressTextAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes floatingProgressTextAnimation {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, -30px);
    opacity: 0;
  }
}


@media (max-width: 800px) {
  .barn {
    width: 75%;
  }
  
}