<div class="barn clickableText" *ngIf="!condensedView">
    <div class="unlocked" *ngIf="this.isOccupied">
        <span>{{ barnName }} <strong *ngIf="barn.barnUpgrades.barnLevel > 0">Lv {{barn.barnUpgrades.barnLevel}}</strong></span>
        <h6 [ngClass]="colorConditional" class="keyword" *ngIf="associatedAnimal.name !== associatedAnimal.getAnimalType()">
            <span>{{ this.associatedAnimalName }}</span>
            <br />
            <span>{{ this.associatedAnimalType }}</span>
        </h6>
        <h6 [ngClass]="colorConditional" class="keyword" *ngIf="associatedAnimal.name === associatedAnimal.getAnimalType()">            
            <span>{{ this.associatedAnimalType }}</span>
        </h6>
        <br />        
        <p>
            <ngb-progressbar type="success" [value]="this.trainingProgressBarPercent"></ngb-progressbar>
        </p>
        <div [ngClass]="{'floatingProgressTextAnimation': showTrainingAnimation}"
            class="progressBar floatingProgressText progressBarColor keyword">
            {{ trainingCompleteText }}
        </div>
        <br />
        <div *ngIf="autoBreedActive">
            <em>Auto Breed <strong>ON</strong></em>
        </div>
        <div *ngIf="!autoBreedActive && readyToBreed">
            <em>At Max Breed XP</em>
        </div>
    </div>
    <h6 class="unassigned" *ngIf="!this.isOccupied && !this.isLocked">
        <span>{{ barnName }} <strong *ngIf="barn.barnUpgrades.barnLevel > 0">Lv {{barn.barnUpgrades.barnLevel}}</strong></span>
        <br/>
        <br/>
        <br/>
        <span>Unassigned</span>
        <br/>
        <em>Click to assign animal</em>
    </h6>
    <h6 class="locked" *ngIf="this.isLocked">
        <span>{{ barnName }} <strong *ngIf="barn.barnUpgrades.barnLevel > 0">Lv {{barn.barnUpgrades.barnLevel}}</strong></span>
        <br/>
        <br/>
        <br/>
        <span>Locked</span>
        <br/>
        <em>Click to view status</em>
    </h6>
</div>

<div class="condensedBarn clickableText" *ngIf="condensedView">
    <div class="condensedFlex unlocked" *ngIf="this.isOccupied">
        <span class="barnNameWidth">{{ barnName }} <strong *ngIf="barn.barnUpgrades.barnLevel > 0">Lv {{barn.barnUpgrades.barnLevel}}</strong></span>
        <h6 [ngClass]="colorConditional" class="keyword inlineBlock condensedMargin nameWidth" *ngIf="associatedAnimal.name !== associatedAnimal.getAnimalType()">
            <span>{{ this.associatedAnimalName }} </span>
            
            <span>({{ this.associatedAnimalType }})</span>
        </h6>
        <h6 [ngClass]="colorConditional" class="keyword inlineBlock condensedMargin nameWidth" *ngIf="associatedAnimal.name === associatedAnimal.getAnimalType()">            
            <span>{{ this.associatedAnimalType }}</span>
        </h6>
        <ngb-progressbar type="success" class="condensedProgressBar condensedMargin" [value]="this.trainingProgressBarPercent"></ngb-progressbar>                
        <div *ngIf="autoBreedActive" class="condensedMargin breedWidth">
            <em>Auto Breed <strong>ON</strong></em>
        </div>
        <div *ngIf="!autoBreedActive && readyToBreed" class="condensedMargin breedWidth">
            <em>At Max Breed XP</em>
        </div>
        <div *ngIf="!autoBreedActive && !readyToBreed" class="condensedMargin breedWidth">
            <em></em>
        </div>
    </div>
    <h6 class="condensedFlex unassigned" *ngIf="!this.isOccupied && !this.isLocked">
        <span class="barnNameWidth"> {{ barnName }} <strong *ngIf="barn.barnUpgrades.barnLevel > 0">Lv {{barn.barnUpgrades.barnLevel}}</strong></span>
        <span class="nameWidth">Unassigned</span>      
        <em class="condensedProgressBar">Click to assign animal</em>  
        <span class="breedWidth"></span>
    </h6>
    <h6 class="condensedFlex locked" *ngIf="this.isLocked">
        <span class="barnNameWidth">{{ barnName }} <strong *ngIf="barn.barnUpgrades.barnLevel > 0">Lv {{barn.barnUpgrades.barnLevel}}</strong></span>
        <span class="nameWidth">Locked</span>            
        <em class="condensedProgressBar">Click to view status</em>
        <span class="breedWidth"></span>    
    </h6>
</div>