<div class="shoppingListView">
    <div class="sectionHeaderBackgroundColor">
        <span class="s4Heading keyword sectionHeaderText">{{ section.name }}</span>        
    </div>
    <div class="items">
        <table>
            <tr *ngFor="let cells of itemsRows;">
                <td *ngFor="let c of cells;" class="cell">
                    <div>
                        <app-shopping-item [selectedItem]="c" (itemPurchased)="itemPurchased($event)">
                        </app-shopping-item>
                    </div>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>