<div class="shoppingListView">
    <div [ngClass]="{'tokenShopColor': shopType === shopsEnum.token}"  class="sectionHeaderBackgroundColor">
        <span class="s4Heading keyword sectionHeaderText">{{ section.name }}</span>        
    </div>
    <div class="items">
        <table *ngIf="itemsRows.length > 0">
            <tr *ngFor="let cells of itemsRows;">
                <td *ngFor="let c of cells;" class="cell">
                    <div>
                        <app-shopping-item [selectedItem]="c" (itemPurchased)="itemPurchased($event)">
                        </app-shopping-item>
                    </div>
                </td>
            </tr>
        </table>
        <div class="centered"c *ngIf="itemsRows.length === 0">
            <br />
            <span>Fresh out! Check back again in the future to see if more items are added!</span>
            <br />
        </div>
        <br />
    </div>
</div>