.talent {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-content: stretch;
  grid-template-areas:
    "header"
    "content";
}

.header {
  grid-area: header;
  background-color: var(--background-tertiary);
  border: 2px solid;
  border-color: var(--foreground-default);
  text-align: center;
  color: var(--foreground-quaternary);
}

.content {
  grid-area: content;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.talentInactive {
  color: rgba(0, 0, 0, 0.5);
}