<div class="coachingView">
    <div class="marginDiv">
        <div class="info">
            <div class="flex">
            <div></div> <!--for flex spacing-->
            <div class="coachingGridContainer">
                <button class="buttonAsText coaching s5Heading clickableText"
                    (click)="changeDisplayCoachingView(coachingTypeEnum.coaching)"
                    [ngClass]='displayCoachingView === coachingTypeEnum.coaching ? "filterActive" : ""'>Coaching</button>
                <div  *ngIf="scrimmagesUnlocked">
                    <button class="buttonAsText scrimmage s5Heading clickableText" [disabled]="restingForScrimmage"
                    (click)="changeDisplayCoachingView(coachingTypeEnum.scrimmage)"
                    [ngClass]='displayCoachingView === coachingTypeEnum.scrimmage ? "filterActive" : ""'><span *ngIf="showScrimmageIcon" class="availableIcon">!</span>Scrimmage</button><em *ngIf="restingForScrimmage" class="smallText rightSpaced">(Retry in {{scrimmageRestingTimeRemaining}})</em>
                </div>
            </div>
            <div class="back">
                <button (click)="returnToSelectedBarnView()">Back</button>
            </div>
        </div>

            <hr />
        </div>
        <app-run-coaching *ngIf="displayCoachingView === coachingTypeEnum.coaching"
            [selectedBarnNumber]="selectedBarnNumber"></app-run-coaching>
        <app-scrimmage *ngIf="displayCoachingView === coachingTypeEnum.scrimmage"
            [selectedBarnNumber]="selectedBarnNumber"></app-scrimmage>
    </div>
</div>