<div>
    <div *ngIf="deck.isPrimaryDeck && this.deckNumber !== undefined && this.deckNumber > 0" class="primaryText">
        PRIMARY
    </div>
    <div *ngIf="deck.autoRunFreeRace && this.deckNumber !== undefined && this.deckNumber > 0" class="primaryText">
        AUTO RUN FREE RACE
    </div>
    <strong>{{deck.name}}</strong> - <span *ngFor="let animal of deck.selectedAnimals; let i = index;" class="coloredText" [ngClass]="getColorClass(animal)">
        {{animal.name}}<span *ngIf="i < deck.selectedAnimals.length - 1" class="defaultColor"> / </span>
    </span>
</div>
<!-- maybe Name of Deck - Animal1 / Animal2 / Animal3    Edit Button that sends you to decks tab-->
<!-- Animals in the color of their type -->