<div class="raceDescription">
    <span *ngIf="index !== undefined && index !== null && index > -1">Race {{ index+1 }} </span>        
    <br />
    <div [ngClass]="{'raceNotAllowed': cannotRace}" class="clickableText" [ngbPopover]="popContent" [disablePopover]="popoverText === ''" triggers="mouseenter:mouseleave"
        popoverClass="popoverClass">
        <p *ngFor="let raceLeg of race.raceLegs" [ngClass]="getNoRacerClass(raceLeg)">
            {{ raceLeg.distance | number : '1.2-2' }} Meters of {{ raceLeg.getTerrainName() }}
            <span class="coloredText" [ngClass]="getColorClass(raceLeg)">{{ raceLeg.getCourseTypeName() }}</span>
        </p>
        <h6 *ngIf="showStartText && race.isCompleted"><em>Completed!</em></h6>
        <h6 *ngIf="showStartText && !race.isCompleted && cannotRace"><em>Cannot Run</em></h6>
        <h6 class="keyword" *ngIf="showStartText && !race.isCompleted && !cannotRace">Start</h6>
    </div>
</div>

<ng-template #popContent>
    <div class="popoverClass">
        {{ popoverText }}
    </div>
</ng-template>