<div class="selectedAnimalView">
    <div class="marginGrid">
        <div class="view">
            <div class="info">
                <div class="equippable">
                    <div>
                        <div *ngIf="selectedAnimal.equippedItem !== undefined && selectedAnimal.equippedItem !== null"
                            [ngbPopover]="getEquipmentShortDescription(selectedAnimal.equippedItem.name)"
                            triggers="mouseenter:mouseleave" popoverClass="popoverClass">Equipped: <span
                                class="equipmentKeyword">{{
                                selectedAnimal.equippedItem.name
                                }}</span>
                            <br />
                            <br />
                            {{getEquipmentShortDescription(selectedAnimal.equippedItem.name)}}
                        </div>
                        <div *ngIf="selectedAnimal.equippedItem === undefined || selectedAnimal.equippedItem === null">
                            Equipped: None
                        </div>
                        <br />

                        <button
                            *ngIf="selectedAnimal.equippedItem !== undefined && selectedAnimal.equippedItem !== null"
                            (click)="unequipItem()">Unequip Item</button>
                        <button (click)="openEquipmentModal(equipment)">Equip New Item</button>
                    </div>
                    <br />
                    <div class="talents" *ngIf="areTalentsAvailable">
                        <div>
                            <span *ngIf="selectedAnimal.talentTree.talentTreeType !== talentTreeTypeEnum.none" class="keyword"> {{ getTalentTreeName() }}</span>
                        </div>                        
                        <button (click)="openTalentsModal(talentsContent)">View Talents</button>
                    </div>
                </div>
                <div class="animalInfo">
                    <div [ngClass]="colorConditional">
                        <div *ngIf="selectedAnimal.name !== selectedAnimal.getAnimalType()">
                            <div *ngIf="!editingName">
                                <span class="name keyword">{{ selectedAnimal.name }} </span>
                                <span><button class="editName" (click)="editingName = !editingName">Edit</button></span>
                            </div>
                            <div *ngIf="editingName">
                                <span><input id="newName" name="newName" maxlength="50" [(ngModel)]="newName"></span>
                                <span><button (click)="editName()">Save</button></span>
                                <span><button (click)="editingName = !editingName">Cancel</button></span>
                            </div>
                            <span class="keyword">
                                <span class="defaultTextColor" ngbPopover="{{ traitStatGainDescription }}"
                                    triggers="mouseenter:mouseleave" popoverClass="popoverClass"
                                    *ngIf="selectedAnimal.trait !== undefined && selectedAnimal.trait !== null">
                                    {{ selectedAnimal.trait.traitName }}
                                </span>
                                {{ selectedAnimal.getAnimalType() }}
                            </span>
                        </div>
                        <div *ngIf="selectedAnimal.name === selectedAnimal.getAnimalType()">
                            <div *ngIf="!editingName">
                                <span><button (click)="editingName = !editingName">Edit Name</button></span>
                            </div>
                            <div *ngIf="editingName">
                                <span><input id="newName" name="newName" minlength="1" maxlength="50"
                                        [(ngModel)]="newName"></span>
                                <span><button (click)="editName()">Save</button></span>
                                <span><button (click)="editingName = !editingName">Cancel</button></span>
                            </div>
                            <span class="keyword">
                                <span class="defaultTextColor" ngbPopover="{{ traitStatGainDescription }}"
                                    triggers="mouseenter:mouseleave" popoverClass="popoverClass"
                                    *ngIf="selectedAnimal.trait !== undefined && selectedAnimal.trait !== null">
                                    {{ selectedAnimal.trait.traitName }}
                                </span>
                                {{ selectedAnimal.getAnimalType() }}
                            </span>
                        </div>
                        <span class="keyword">{{ selectedAnimal.getRaceCourseType() }}</span>
                        <br />
                    </div>
                    <span class="clickableText" (click)="goToAssignedBarn()">{{ this.assignedBarnName }} <em
                            *ngIf="this.selectedAnimal.currentTraining !== null && this.selectedAnimal.currentTraining !== undefined">({{this.selectedAnimal.currentTraining.trainingName}})</em></span>
                    <br />
                    <span ngbPopover="{{ breedLevelPopover }}" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">Breed Level {{selectedAnimal.breedLevel}}</span>
                    <br />
                    <span [ngbPopover]="breedDescriptionPopover" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">Breed XP: {{selectedAnimal.breedGaugeXp | number :
                        '1.2-2'}}/{{selectedAnimal.breedGaugeMax}}
                        <button [disabled]="!canBreed" (click)="breed()">Breed</button>
                    </span>
                    <br />
                    <button (click)="openItemModal(content)">Use Item</button>
                    <br />
                    <app-toggle *ngIf="canAutoBreed" [callbackFunction]="toggleAutoBreed" [label]="'Auto Breed'"
                        [model]="autoBreedActive"></app-toggle>
                </div>
                <div class="back">
                    <div>
                        <button (click)="returnToAnimalView()">Back</button>
                    </div>
                    <br />
                    <div *ngIf="orbIsUnlocked" class="orb">
                        <div *ngIf="selectedAnimal.equippedOrb !== undefined && selectedAnimal.equippedOrb !== null"
                            [ngbPopover]="getEquipmentShortDescription(selectedAnimal.equippedOrb.name)"
                            triggers="mouseenter:mouseleave" popoverClass="popoverClass">Orb: {{
                            selectedAnimal.equippedOrb.name
                            }}
                            <br />
                            <br />
                            {{getEquipmentShortDescription(selectedAnimal.equippedOrb.name)}}
                        </div>
                        <div *ngIf="selectedAnimal.equippedOrb === undefined || selectedAnimal.equippedOrb === null">
                            Orb: None
                        </div>
                        <br />

                        <button *ngIf="selectedAnimal.equippedOrb !== undefined && selectedAnimal.equippedOrb !== null"
                            (click)="unequipOrb()">Unequip Orb</button>
                        <button (click)="openOrbModal(orb)">Equip New Orb</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="gridContainer">
                <div class="trainableStats">
                    <span class="s4Heading">Base Stats</span>
                    <br />
                    <br />
                    <span [ngbPopover]="topSpeedPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Speed:</span> {{ selectedAnimal.currentStats.topSpeed | number : '1.2-2'
                        }}
                    </span>
                    <br />
                    <span [ngbPopover]="accelerationPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Acceleration:</span> {{ selectedAnimal.currentStats.acceleration | number
                        : '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="endurancePopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Endurance:</span> {{ selectedAnimal.currentStats.endurance | number :
                        '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="powerPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Power:</span> {{ selectedAnimal.currentStats.power | number : '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="focusPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Focus:</span> {{ selectedAnimal.currentStats.focus | number : '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="adaptabilityPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Adaptability:</span> {{ selectedAnimal.currentStats.adaptability | number
                        : '1.2-2' }}
                    </span>
                    <br />
                    <span ngbPopover="{{ getDiminishingReturnsPopover() }}" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Diminishing Returns:</span> {{ diminishingReturnsAmount | number : '1.0-0'
                        }}
                    </span>
                </div>
                <div class="racingStats">
                    <span class="s4Heading">Racing Stats</span>
                    <br />
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.maxSpeedMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Max Speed:</span> {{ selectedAnimal.currentStats.maxSpeedMs | number :
                        '1.2-2' }} m/s
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.accelerationMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Acceleration Rate:</span> {{ selectedAnimal.currentStats.accelerationMs |
                        number : '1.2-2' }} m/s
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.staminaPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Stamina:</span> {{ selectedAnimal.currentStats.stamina | number : '1.2-2'
                        }}
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.powerMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Power Efficiency:</span> {{ selectedAnimal.currentStats.powerMs | number :
                        '1.2-2' }}%
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.focusMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Focus Distance:</span> ~{{ selectedAnimal.currentStats.focusMs | number :
                        '1.2-2' }} m
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.adaptabilityMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Adaptability Distance:</span> ~{{
                        selectedAnimal.currentStats.adaptabilityMs | number : '1.2-2' }} m
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.burstChancePopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Burst Chance:</span> {{ selectedAnimal.currentStats.burstChance | number :
                        '1.2-2' }}%
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.burstDistancePopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Burst Distance:</span> {{ selectedAnimal.currentStats.burstDistance |
                        number : '1.2-2' }} m
                    </span>
                </div>

                <div class="miscStats">
                    <span class="s4Heading">Miscellaneous Stats</span>
                    <br />
                    <br />
                    <div *ngIf="selectedAnimal.miscStats.bonusBreedXpGainFromTraining > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusTrainingXpPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Breed XP From
                                Training:</span> {{ selectedAnimal.miscStats.bonusBreedXpGainFromTraining |
                            number : '1.0-0' }}
                        </span>
                        <br />
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.bonusBreedXpGainFromLocalRaces > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusFreeRaceXpPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Breed XP From Free
                                Races:</span> {{ selectedAnimal.miscStats.bonusBreedXpGainFromLocalRaces
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.bonusBreedXpGainFromCircuitRaces > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusCircuitRaceXpPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Breed XP From Circuit
                                Races:</span> {{
                            selectedAnimal.miscStats.bonusBreedXpGainFromCircuitRaces
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.trainingTimeReduction > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusTrainingTimeReductionPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Training Time
                                Reduction:</span> {{ selectedAnimal.miscStats.trainingTimeReduction
                            |
                            number : '1.0-0' }}%
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.diminishingReturnsBonus > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusDiminishingReturnsPerFacilityLevelPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Diminishing Returns
                                per Facility Level:</span> {{
                            selectedAnimal.miscStats.diminishingReturnsBonus
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.bonusTalents > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusTalentsPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Talents:</span> {{
                            selectedAnimal.miscStats.bonusTalents
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="abilities">
                <p><span class="s4Heading" [ngbPopover]="getAbilityPopover()" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">Abilities</span>
                    <br />
                    <span>
                        <em>Your animal will use the ability you select below.</em>
                    </span>
                </p>
                <div>
                    <span class="ability1 s5Heading clickableText" (click)="selectAbility(ability1)"
                        [class.filterActive]="selectedAnimal.ability.name === ability1.name">{{ ability1.name }} </span>
                    <span *ngIf="ability2.isAbilityPurchased" class="ability2 s5Heading clickableText"
                        (click)="selectAbility(ability2)"
                        [class.filterActive]="selectedAnimal.ability.name === ability2.name">{{ ability2.name }} </span>
                    <span *ngIf="ability3.isAbilityPurchased" class="ability3 s5Heading clickableText"
                        (click)="selectAbility(ability3)"
                        [class.filterActive]="selectedAnimal.ability.name === ability3.name">{{ ability3.name }} </span>
                    <br />
                    <br />
                    <p>
                        <span [ngbPopover]="abilityLevelPopoverContent" triggers="mouseenter:mouseleave"
                            popoverClass="popoverClass">Level {{ selectedAbility.abilityLevel }} <span
                                class="abilityXp"><span *ngIf="!abilityLevelMaxedOut">{{selectedAbility.abilityXp}} /
                                    {{selectedAbility.abilityMaxXp}} XP</span> <span
                                    *ngIf="abilityLevelMaxedOut">MAX</span></span></span>
                        <br />
                        <span [innerHTML]="longDescription"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #topSpeedPopoverContent>
    <div class="popoverClass">
        {{ getTopSpeedPopover() }}
    </div>
</ng-template>

<ng-template #accelerationPopoverContent>
    <div class="popoverClass">
        {{ getAccelerationPopover() }}
    </div>
</ng-template>

<ng-template #endurancePopoverContent>
    <div class="popoverClass">
        {{ getEndurancePopover() }}
    </div>
</ng-template>

<ng-template #powerPopoverContent>
    <div class="popoverClass">
        {{ getPowerPopover() }}
    </div>
</ng-template>

<ng-template #focusPopoverContent>
    <div class="popoverClass">
        {{ getFocusPopover() }}
    </div>
</ng-template>

<ng-template #adaptabilityPopoverContent>
    <div class="popoverClass">
        {{ getAdaptabilityPopover() }}
    </div>
</ng-template>

<ng-template #abilityLevelPopoverContent>
    <div class="popoverClass">
        {{ getAbilityLevelPopover() }}
    </div>
</ng-template>

<ng-template #bonusFreeRaceXpPopoverContent>
    <div class="popoverClass">
        {{ getBonusFreeRaceXpPopover() }}
    </div>
</ng-template>

<ng-template #bonusCircuitRaceXpPopoverContent>
    <div class="popoverClass">
        {{ getBonusCircuitRaceXpPopover() }}
    </div>
</ng-template>

<ng-template #bonusTrainingXpPopoverContent>
    <div class="popoverClass">
        {{ getBonusTrainingXpPopover() }}
    </div>
</ng-template>

<ng-template #bonusDiminishingReturnsPerFacilityLevelPopoverContent>
    <div class="popoverClass">
        {{ getBonusDiminishingReturnsPerFacilityLevelPopover() }}
    </div>
</ng-template>

<ng-template #bonusTrainingTimeReductionPopoverContent>
    <div class="popoverClass">
        {{ getBonusTrainingTimeReductionPopover() }}
    </div>
</ng-template>

<ng-template #bonusTalentsPopoverContent>
    <div class="popoverClass">
        {{ getBonusTalentsPopover() }}
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Use Item</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div *ngIf="usableItemsList.length > 0">
                <div class="modal-body">
                    <div class="itemContainer">
                        <table>
                            <tr *ngFor="let cells of itemsRows;">
                                <td *ngFor="let c of cells;" class="cell">
                                    <div class="selectableItem" [ngClass]="{'activeSelectedItem': c.isSelected}"
                                        (click)="selectItem(c)">
                                        <span class="resourceKeyword">{{ c.name }} ({{ c.amount }})</span>
                                        <div *ngIf="itemHasAdditionalText(c)">
                                            <span [innerHTML]="getItemAdditionalText(c)"></span>
                                        </div>
                                        <br />
                                        <br />
                                        {{ this.getItemShortDescription(c.name) }}
                                        <br />
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="selectedItem !== undefined && selectedItem !== null" class="modal-footer">

                    <span class="selectedItemSpan">
                        <span><span class="resourceKeyword">{{selectedItem.name}}</span> - {{
                            this.getItemShortDescription(selectedItem.name) }} </span>

                        <span class="rightAlign">
                            <label for="deck-name">Amount: </label>
                            <input id="deck-name" class="spaced" type="text" [(ngModel)]="selectedItemQuantity">
                            <button type="button" class="spaced" (click)="useItem()">Use</button>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="usableItemsList.length == 0">
                No items available.
            </div>
        </form>
    </div>
</ng-template>

<ng-template #equipment let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Change Equipment</h4>
                <button type="button" aria-label="Close" (click)="clearSelectedItems(); modal.dismiss();">X</button>
            </div>
            <div>
                <div class="modal-body">
                    <div class="equipmentContainer">
                        <table>
                            <tr *ngFor="let cells of equipmentRows;">
                                <td *ngFor="let c of cells;" class="cell">
                                    <div class="selectableEquipment"
                                        [ngClass]="{'activeSelectedEquipment': c.isSelected}"
                                        (click)="selectEquipment(c)">
                                        <span class="equipmentKeyword">{{ c.name }} ({{ c.amount }})</span>
                                        <br />
                                        <br />
                                        {{ this.getEquipmentShortDescription(c.name) }}
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="selectedEquipment !== undefined && selectedEquipment !== null" class="modal-footer">
                    <span class="selectedEquipmentSpan">
                        <span><span class="equipmentKeyword">{{selectedEquipment.name}}</span> - {{
                            this.getEquipmentShortDescription(selectedEquipment.name)
                            }} </span>

                        <span class="rightAlign">
                            <button type="button" class="spaced" (click)="equipItem()">Equip</button>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="equipmentList.length == 0">
                No equipment available.
            </div>
        </form>
    </div>
</ng-template>

<ng-template #orb let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Change Orb</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div>
                <div class="modal-body">
                    <div class="orbContainer">
                        <table>
                            <tr *ngFor="let cells of orbRows;">
                                <td *ngFor="let c of cells;" class="cell">
                                    <div class="selectableOrb" [ngClass]="{'activeSelectedOrb': c.isSelected}"
                                        (click)="selectOrb(c)">
                                        <span class="progressionKeyword">{{ c.name }}</span>
                                        <br />
                                        {{ this.getEquipmentShortDescription(c.name) }}
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="selectedOrb !== undefined && selectedOrb !== null" class="modal-footer">
                    <span class="selectedOrbSpan">
                        <span><span class="progressionKeyword">{{selectedOrb.name}}</span> - {{
                            this.getEquipmentShortDescription(selectedOrb.name)
                            }} </span>

                        <span class="rightAlign">
                            <button type="button" class="spaced" (click)="equipOrb()">Equip</button>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="equipmentList.length == 0">
                No equipment available.
            </div>
        </form>
    </div>
</ng-template>

<ng-template #talentsContent let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Talents</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div *ngIf="talentsReleased && selectedAnimal.talentTree.talentTreeType === talentTreeTypeEnum.none">
                <div class="modal-body">
                    <div *ngIf="talentTreeOptions.length > 0">
                        <div class="typeContainer">
                            <span *ngFor="let talentTree of talentTreeOptions" class="talents subHeading"
                                [ngClass]="{'selectedTalentTree': selectedTalentTree === talentTree}"
                                (click)="filterTalentTree(talentTree)">
                                {{talentTree.trim()}}
                            </span>
                        </div>
                        <hr />
                        <div *ngIf="inDepthTalentTreeDescription !== '' && inDepthTalentTreeDescription !== undefined">
                            <strong> {{ inDepthTalentTreeDescription }} </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="selectTalentTree()">Select</button>
                </div>
            </div>
            <div class="modal-body"
                *ngIf="talentsReleased && selectedAnimal.talentTree.talentTreeType !== talentTreeTypeEnum.none">
                <div class="talentInfo">Available Talent Points: {{ availableTalentPoints }}</div>
                <br />
                <p>
                  <em>
                    Note that this functionality is new and subject to change. I have plans to add more talents and certain talents will likely still need rebalancing/redesigning. Bear with me as I work that out. Once I feel like talents are in a final state, everyone will have the option to reset their talent choices if they choose to. Feel free to experiment with the options as they are now and let me know if you have any feedback. Thanks!
                  </em>  
                </p>
                <br />
                <div class="talentRow" *ngFor="let _ of [].constructor(talentRows); let rowIndex = index">
                    <div class="rowFlex">
                        <div class="talentColumn"
                            *ngFor="let _ of [].constructor(talentColumns); let columnIndex = index">
                            <div [ngClass]="rowIndex < talentRows -1 ? 'talentContent' : 'lastTalentContent'">
                                <app-talent [row]="rowIndex" [column]="columnIndex" [selectedAnimal]="selectedAnimal"
                                    (spentTalent)="spentTalent($event)"></app-talent>
                            </div>
                            <div class="talentSpacer">
                                <div *ngIf="rowIndex !== talentRows-1" class="defaultTalentSpacer">
                                </div>
                                <div *ngIf="rowIndex !== talentRows-1" [ngClass]="getBorderConditional(rowIndex, columnIndex)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!talentsReleased">
                Coming Soon!
            </div>
        </form>
    </div>
</ng-template>