.selectedAnimalView {
  height: 100%;

  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);
}

.animalInfo {
  padding-top: .25rem;
  text-align: center;
  grid-area: animalInfo;
}

.back {
  padding-top: .25rem;
  text-align: center;
  grid-area: back;

  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.equippable {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  grid-area: equippable;
}

.marginGrid {
  /*height: 100%;*/
  display: grid;
  grid-template-columns: 1% 1fr 1%;
  grid-template-rows: auto;
  justify-content: stretch;
  grid-template-areas:
    ". view .";
}

.view {
  grid-area: view;
}


.filterActive {
  font-weight: bold;
  text-decoration: underline solid Currentcolor;
  color: var(--foreground-secondary);
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
  grid-template-areas:
    "equippable animalInfo back";
}


.gridContainer {
  /* height: 100%;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: stretch;
  grid-template-areas:
    "trainingStats racingStats miscStats";
}

.trainableStats {
  justify-self: left;
  grid-area: trainingStats;
}

.racingStats {
  grid-area: racingStats;
}

.miscStats {
  grid-area: miscStats;
}

::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}

.modalClass {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);
}

.editName {
  width: 4rem;
}

.name {
  margin-left: 4rem;
}

.selectedEquipmentSpan,
.selectedOrbSpan,
.selectedItemSpan {
  width: 100%;
}

.popoverClass {
  white-space: pre-line;
}

.rightAlign {
  float: right;
}

.ability1,
.ability2,
.ability3 {
  width: 33.33%;
  display: inline-block;
}

.spaced {
  margin-left: .5em;
}

.typeContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.talentTreeType {
  text-decoration: underline solid transparent;
  transition: text-decoration .3s ease;
  display: inline-block;
}


.selectedTalentTree {
  font-weight: bold;
  text-decoration: underline solid;
}

.rowFlex {
  display: flex;
  justify-content: space-evenly;
}


.abilityXp {
  margin-left: 2.5rem;
}

.talentColumn {
  width: 31.75%;
}

.talentContent {
  height: calc(100% - 5rem);
  height: -moz-calc(100% - 5rem);
  /* WebKit */
  height: -webkit-calc(100% - 5rem);
  /* Opera */
  height: -o-calc(100% - 5rem);
  border: 1px solid rgba(0, 0, 0, .1);
}

.lastTalentContent {
  height: 100%;  
  border: 1px solid rgba(0, 0, 0, .1);
}

.talentInfo {
  text-align: center;
}

/*.talentSpacer {
  width: 50%;
  height: 5rem;
}*/

.talentSpacer {  
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.defaultTalentSpacer {    
  height: 5rem;
  border-right: solid thick rgba(0, 0, 0, .1);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 1;
}

.completedFlatlandTalentSpacer {  
  align-self: baseline;  
  border-right: solid thick var(--flatlandColor); 
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2; 
}

.completedMountainTalentSpacer {
  align-self: baseline;  
  border-right: solid thick var(--mountainColor);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2; 
}

.completedOceanTalentSpacer {
  align-self: baseline;  
  border-right: solid thick var(--waterColor);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2; 
}

.completedTundraTalentSpacer {
  align-self: baseline;  
  border-right: solid thick var(--tundraColor);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2; 
}

.completedVolcanicTalentSpacer {
  align-self: baseline;  
  border-right: solid thick var(--volcanicColor);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 2; 
}

.height0 {
  height: 0;
}

.height1 {
  height: 1rem;
}

.height2 {
  height: 2rem;
}

.height3 {
  height: 3rem;
}

.height4 {
  height: 4rem;
}

.height5 {
  height: 5rem;
}

table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}

td {
  width: 25%;
  border: 1px solid rgba(0, 0, 0, .1)
    /*var(--foreground-default)*/
  ;
}

.activeSelectedItem {
  font-weight: bold;
  color: var(--foreground-secondary);  
}

.activeSelectedEquipment {
  font-weight: bold;
  color: var(--foreground-secondary);  
}

.activeSelectedOrb {
  font-weight: bold;
  color: var(--foreground-secondary);  
}

.selectableItem, .selectableOrb, .selectableEquipment {
  margin-left: .25rem;
  margin-right: .25rem;
  margin-top: .25rem;
}

.tooltipIcon {
  display: none;
}

/** This assumes 2 total columns on mobile and 4 total columns otherwise **/
@media (max-width: 650px) {
  table:last-child {
    border-bottom: none;
  }

  table:nth-child(-n+2) {
    border-top: none;
  }

  table:nth-child(2n) {
    border-right: none;
  }

  table:nth-child(2n-1) {
    border-left: none;
  }
}


table tr td:last-child,
table tr td:nth-last-child(2),
table tr td:nth-last-child(3),
table tr td:nth-last-child(4) {
  border-bottom: none;
}

table tr:nth-child(1) td:nth-child(-n+4) {
  border-top: none;
}

table tr td:nth-child(4n) {
  border-right: none;
}

table tr td:nth-child(4n-3) {
  border-left: none;
}

@media (max-width: 800px) {
  .info {
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .gridContainer {    
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .tooltipIcon {
    display: inline-block;
  }
}