<div class="selectedAnimalView">
    <div class="marginGrid">
        <div class="view">
            <div class="info">
                <div class="equippable">
                    <div>
                        <div *ngIf="selectedAnimal.equippedItem !== undefined && selectedAnimal.equippedItem !== null"
                            [ngbPopover]="getEquipmentShortDescription(selectedAnimal.equippedItem.name)"
                            triggers="mouseenter:mouseleave" popoverClass="popoverClass">Equipped: <span
                                class="equipmentKeyword">{{
                                selectedAnimal.equippedItem.name
                                }}</span>
                            <br />
                            <br />
                            {{getEquipmentShortDescription(selectedAnimal.equippedItem.name)}}
                        </div>
                        <div *ngIf="selectedAnimal.equippedItem === undefined || selectedAnimal.equippedItem === null">
                            Equipped: None
                        </div>
                        <br />

                        <button
                            *ngIf="selectedAnimal.equippedItem !== undefined && selectedAnimal.equippedItem !== null"
                            (click)="unequipItem()">Unequip Item</button>
                        <button (click)="openEquipmentModal(equipment)" class="spaced">Equip New Item</button>
                    </div>
                    <br />
                    <div class="talents" *ngIf="areTalentsAvailable">
                        <div>
                            <span *ngIf="selectedAnimal.talentTree.talentTreeType !== talentTreeTypeEnum.none"
                                class="keyword"> {{ getTalentTreeName() }}</span>
                        </div>
                        <button (click)="openTalentsModal(talentsContent)">View Talents</button>
                    </div>
                </div>
                <div class="animalInfo">
                    <div [ngClass]="colorConditional">
                        <div *ngIf="selectedAnimal.name !== selectedAnimal.getAnimalType()">
                            <div *ngIf="!editingName">
                                <span class="name keyword">{{ selectedAnimal.name }} </span>
                                <span><button class="editName" (click)="editingName = !editingName">Edit</button></span>
                            </div>
                            <div *ngIf="editingName">
                                <span><input id="newName" name="newName" maxlength="50" [(ngModel)]="newName"></span>
                                <span><button (click)="editName()">Save</button></span>
                                <span><button (click)="editingName = !editingName">Cancel</button></span>
                            </div>
                            <span class="keyword">
                                <span class="defaultTextColor" ngbPopover="{{ traitStatGainDescription }}"
                                    triggers="mouseenter:mouseleave" popoverClass="popoverClass"
                                    *ngIf="selectedAnimal.trait !== undefined && selectedAnimal.trait !== null">
                                    {{ selectedAnimal.trait.traitName }}
                                </span>
                                {{ selectedAnimal.getAnimalType() }}
                            </span>
                        </div>
                        <div *ngIf="selectedAnimal.name === selectedAnimal.getAnimalType()">
                            <div *ngIf="!editingName">
                                <span><button (click)="editingName = !editingName">Edit Name</button></span>
                            </div>
                            <div *ngIf="editingName">
                                <span><input id="newName" name="newName" minlength="1" maxlength="50"
                                        [(ngModel)]="newName"></span>
                                <span><button (click)="editName()">Save</button></span>
                                <span><button (click)="editingName = !editingName">Cancel</button></span>
                            </div>
                            <span class="keyword">
                                <span class="defaultTextColor" ngbPopover="{{ traitStatGainDescription }}"
                                    triggers="mouseenter:mouseleave" popoverClass="popoverClass"
                                    *ngIf="selectedAnimal.trait !== undefined && selectedAnimal.trait !== null">
                                    {{ selectedAnimal.trait.traitName }}
                                </span>
                                {{ selectedAnimal.getAnimalType() }}
                            </span>
                        </div>
                        <span class="keyword">{{ selectedAnimal.getRaceCourseType() }}</span>
                        <br />
                    </div>
                    <button class="clickableText buttonAsText" (click)="goToAssignedBarn()">{{ this.assignedBarnName }}
                        <em
                            *ngIf="this.selectedAnimal.currentTraining !== null && this.selectedAnimal.currentTraining !== undefined">({{this.selectedAnimal.currentTraining.trainingName}})</em></button>
                    <br />
                    <span ngbPopover="{{ breedLevelPopover }}" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">Breed Level {{selectedAnimal.breedLevel}}</span>
                    <br />
                    <span [ngbPopover]="breedDescriptionPopover" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">Breed XP: {{selectedAnimal.breedGaugeXp | number :
                        '1.2-2'}}/{{selectedAnimal.breedGaugeMax}}
                        <button [disabled]="!canBreed" (click)="breed()">Breed</button>
                    </span>
                    <br />
                    <button (click)="openItemModal(content)">Use Item</button>
                    <br />
                    <app-toggle *ngIf="canAutoBreed" [callbackFunction]="toggleAutoBreed" [label]="'Auto Breed'"
                        [model]="autoBreedActive"></app-toggle>
                </div>
                <div class="back">
                    <div>
                        <button (click)="returnToAnimalView()">Back</button>
                    </div>
                    <br />
                    <div *ngIf="orbIsUnlocked && orbFunctionalityReleased" class="orb">
                        <div *ngIf="selectedAnimal.equippedOrb !== undefined && selectedAnimal.equippedOrb !== null"
                            [ngbPopover]="getEquipmentShortDescription(selectedAnimal.equippedOrb.name)"
                            triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                            <span class="keyword" [ngClass]="this.orbColorConditional(selectedAnimal.equippedOrb)">{{ selectedAnimal.equippedOrb.name }}</span>
                            <br />
                            <br />
                            {{getEquipmentShortDescription(selectedAnimal.equippedOrb.name)}}
                        </div>
                        <div *ngIf="selectedAnimal.equippedOrb === undefined || selectedAnimal.equippedOrb === null">
                            No orb selected
                        </div>
                        <br />

                        <button *ngIf="selectedAnimal.equippedOrb !== undefined && selectedAnimal.equippedOrb !== null"
                            (click)="unequipOrb()">Unequip Orb</button>
                        <button (click)="openOrbModal(orb)" class="spaced">Equip New Orb</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="gridContainer">
                <div class="trainableStats">
                    <span class="s4Heading">Base Stats <span class="tooltipIcon"
                            (click)="openBaseStatsModal(baseStatsContent)">?</span></span>
                    <br />
                    <br />
                    <span [ngbPopover]="topSpeedPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Speed:</span> {{ selectedAnimal.currentStats.topSpeed | number : '1.2-2'
                        }}
                    </span>
                    <br />
                    <span [ngbPopover]="accelerationPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Acceleration:</span> {{ selectedAnimal.currentStats.acceleration | number
                        : '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="endurancePopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Endurance:</span> {{ selectedAnimal.currentStats.endurance | number :
                        '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="powerPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Power:</span> {{ selectedAnimal.currentStats.power | number : '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="focusPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Focus:</span> {{ selectedAnimal.currentStats.focus | number : '1.2-2' }}
                    </span>
                    <br />
                    <span [ngbPopover]="adaptabilityPopoverContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Adaptability:</span> {{ selectedAnimal.currentStats.adaptability | number
                        : '1.2-2' }}
                    </span>
                    <br />
                    <span ngbPopover="{{ getDiminishingReturnsPopover() }}" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <span class="keyword">Diminishing Returns:</span> {{ diminishingReturnsAmount | number : '1.0-0'
                        }}
                    </span>
                </div>
                <div class="racingStats">
                    <span class="s4Heading">Racing Stats <span class="tooltipIcon"
                            (click)="openRacingStatsModal(racingStatsContent)">?</span></span>
                    <br />
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.maxSpeedMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Max Speed:</span> {{ selectedAnimal.currentStats.maxSpeedMs | number :
                        '1.2-2' }} m/s
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.accelerationMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Acceleration Rate:</span> {{ selectedAnimal.currentStats.accelerationMs |
                        number : '1.2-2' }} m/s²
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.staminaPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Stamina:</span> {{ selectedAnimal.currentStats.stamina | number : '1.2-2'
                        }}
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.powerMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Power Efficiency:</span> {{ selectedAnimal.currentStats.powerMs | number :
                        '1.2-2' }}%
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.focusMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Focus Distance:</span> ~{{ selectedAnimal.currentStats.focusMs | number :
                        '1.2-2' }} m
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.adaptabilityMsPopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Adaptability Distance:</span> ~{{
                        selectedAnimal.currentStats.adaptabilityMs | number : '1.2-2' }} m
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.burstChancePopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Burst Chance:</span> {{ selectedAnimal.currentStats.burstChance | number :
                        '1.2-2' }}%
                    </span>
                    <br />
                    <span ngbPopover="{{ selectedAnimal.currentStats.burstDistancePopover() }}"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <span class="keyword">Burst Distance:</span> {{ selectedAnimal.currentStats.burstDistance |
                        number : '1.2-2' }} m
                    </span>
                </div>

                <div class="miscStats">
                    <span class="s4Heading">Miscellaneous Stats <span class="tooltipIcon"
                            (click)="openMiscStatsModal(miscStatsContent)">?</span></span>
                    <br />
                    <br />
                    <div *ngIf="selectedAnimal.miscStats.bonusBreedXpGainFromTraining > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusTrainingXpPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Breed XP From
                                Training:</span> {{ selectedAnimal.miscStats.bonusBreedXpGainFromTraining |
                            number : '1.0-0' }}
                        </span>
                        <br />
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.bonusBreedXpGainFromLocalRaces > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusFreeRaceXpPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Breed XP From Free
                                Races:</span> {{ selectedAnimal.miscStats.bonusBreedXpGainFromLocalRaces
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.bonusBreedXpGainFromCircuitRaces > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusCircuitRaceXpPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Breed XP From Circuit
                                Races:</span> {{
                            selectedAnimal.miscStats.bonusBreedXpGainFromCircuitRaces
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.trainingTimeReduction > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusTrainingTimeReductionPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Training Time
                                Reduction:</span> {{ selectedAnimal.miscStats.trainingTimeReduction
                            |
                            number : '1.0-0' }}%
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.diminishingReturnsBonus > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusDiminishingReturnsPerFacilityLevelPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Diminishing Returns
                                per Facility Level:</span> {{
                            selectedAnimal.miscStats.diminishingReturnsBonus
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                    <div *ngIf="selectedAnimal.miscStats.bonusTalents > 0">
                        <span>
                            <span class="keyword" [ngbPopover]="bonusTalentsPopoverContent"
                                triggers="mouseenter:mouseleave" popoverClass="popoverClass">Bonus Talents:</span> {{
                            selectedAnimal.miscStats.bonusTalents
                            |
                            number : '1.0-0' }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="abilities">
                <p><span class="s4Heading" [ngbPopover]="getAbilityPopover()" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">Abilities</span>
                    <br />
                    <span>
                        <em>Your animal will use the ability you select below.</em>
                    </span>
                </p>
                <div>
                    <div>
                        <button class="ability1 s5Heading clickableText buttonAsText" (click)="selectAbility(ability1)"
                            [class.filterActive]="selectedAnimal.ability.name === ability1.name">{{ ability1.name }}
                        </button>
                        <button *ngIf="ability2.isAbilityPurchased"
                            class="ability2 s5Heading clickableText buttonAsText" (click)="selectAbility(ability2)"
                            [class.filterActive]="selectedAnimal.ability.name === ability2.name">{{ ability2.name }}
                        </button>
                        <button *ngIf="ability3.isAbilityPurchased"
                            class="ability3 s5Heading clickableText buttonAsText" (click)="selectAbility(ability3)"
                            [class.filterActive]="selectedAnimal.ability.name === ability3.name">{{ ability3.name }}
                        </button>
                    </div>
                    <br />
                    <p>
                        <span [ngbPopover]="abilityLevelPopoverContent" triggers="mouseenter:mouseleave"
                            popoverClass="popoverClass">Level {{ selectedAbility.abilityLevel }} <span
                                class="abilityXp"><span *ngIf="!abilityLevelMaxedOut">{{selectedAbility.abilityXp}} /
                                    {{selectedAbility.abilityMaxXp}} XP</span> <span
                                    *ngIf="abilityLevelMaxedOut">MAX</span></span></span>
                        <br />
                        <span [innerHTML]="longDescription"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #topSpeedPopoverContent>
    <div class="popoverClass">
        {{ getTopSpeedPopover() }}
    </div>
</ng-template>

<ng-template #accelerationPopoverContent>
    <div class="popoverClass">
        {{ getAccelerationPopover() }}
    </div>
</ng-template>

<ng-template #endurancePopoverContent>
    <div class="popoverClass">
        {{ getEndurancePopover() }}
    </div>
</ng-template>

<ng-template #powerPopoverContent>
    <div class="popoverClass">
        {{ getPowerPopover() }}
    </div>
</ng-template>

<ng-template #focusPopoverContent>
    <div class="popoverClass">
        {{ getFocusPopover() }}
    </div>
</ng-template>

<ng-template #adaptabilityPopoverContent>
    <div class="popoverClass">
        {{ getAdaptabilityPopover() }}
    </div>
</ng-template>

<ng-template #abilityLevelPopoverContent>
    <div class="popoverClass">
        {{ getAbilityLevelPopover() }}
    </div>
</ng-template>

<ng-template #bonusFreeRaceXpPopoverContent>
    <div class="popoverClass">
        {{ getBonusFreeRaceXpPopover() }}
    </div>
</ng-template>

<ng-template #bonusCircuitRaceXpPopoverContent>
    <div class="popoverClass">
        {{ getBonusCircuitRaceXpPopover() }}
    </div>
</ng-template>

<ng-template #bonusTrainingXpPopoverContent>
    <div class="popoverClass">
        {{ getBonusTrainingXpPopover() }}
    </div>
</ng-template>

<ng-template #bonusDiminishingReturnsPerFacilityLevelPopoverContent>
    <div class="popoverClass">
        {{ getBonusDiminishingReturnsPerFacilityLevelPopover() }}
    </div>
</ng-template>

<ng-template #bonusTrainingTimeReductionPopoverContent>
    <div class="popoverClass">
        {{ getBonusTrainingTimeReductionPopover() }}
    </div>
</ng-template>

<ng-template #bonusTalentsPopoverContent>
    <div class="popoverClass">
        {{ getBonusTalentsPopover() }}
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Use Item</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div *ngIf="usableItemsList.length > 0">
                <div class="modal-body">
                    <div class="itemContainer">
                        <table>
                            <tr *ngFor="let cells of itemsRows;">
                                <td *ngFor="let c of cells;" class="cell">
                                    <div class="selectableItem" [ngClass]="{'activeSelectedItem': c.isSelected}"
                                        (click)="selectItem(c)">
                                        <h6 class="resourceKeyword">{{ c.name }} ({{ c.amount }})</h6>
                                        <div *ngIf="itemHasAdditionalText(c)">
                                            <span [innerHTML]="getItemAdditionalText(c)"></span>
                                        </div>
                                        <br />
                                        <br />
                                        {{ this.getItemShortDescription(c.name) }}
                                        <br />
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="selectedItem !== undefined && selectedItem !== null" class="modal-footer">

                    <span class="selectedItemSpan">
                        <span><span class="resourceKeyword">{{selectedItem.name}}</span> - {{
                            this.getItemShortDescription(selectedItem.name) }} </span>

                        <span class="rightAlign">
                            <label for="deck-name">Amount: </label>
                            <input id="deck-name" class="spaced" type="text" [(ngModel)]="selectedItemQuantity">
                            <button type="button" class="spaced" (click)="useItem()">Use</button>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="usableItemsList.length == 0">
                No items available.
            </div>
        </form>
    </div>
</ng-template>

<ng-template #equipment let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Change Equipment</h4>
                <button type="button" aria-label="Close" (click)="clearSelectedItems(); modal.dismiss();">X</button>
            </div>
            <div>
                <div class="modal-body">
                    <div class="equipmentContainer">
                        <table>
                            <tr *ngFor="let cells of equipmentRows;">
                                <td *ngFor="let c of cells;" class="cell">
                                    <div class="selectableEquipment"
                                        [ngClass]="{'activeSelectedEquipment': c.isSelected}"
                                        (click)="selectEquipment(c)">
                                        <h6 class="equipmentKeyword">{{ c.name }} ({{ c.amount }})</h6>
                                        <br />
                                        <br />
                                        {{ this.getEquipmentShortDescription(c.name) }}
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="selectedEquipment !== undefined && selectedEquipment !== null" class="modal-footer">
                    <span class="selectedEquipmentSpan">
                        <span><span class="equipmentKeyword">{{selectedEquipment.name}}</span> - {{
                            this.getEquipmentShortDescription(selectedEquipment.name)
                            }} </span>

                        <span class="rightAlign">
                            <button type="button" class="spaced" (click)="equipItem()">Equip</button>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="equipmentList.length == 0">
                No equipment available.
            </div>
        </form>
    </div>
</ng-template>

<ng-template #orb let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Change Orb</h4>
                <div class="orbDetails">
                    <button type="button" aria-label="View Orb Details" (click)="viewOrbDetails(orbDetailsContent)">View Orb Details</button>
                    <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
                </div>
            </div>
            <div>
                <div class="modal-body">
                    <div class="orbContainer">
                        <table>
                            <tr *ngFor="let cells of orbRows;">
                                <td *ngFor="let c of cells;" class="cell">
                                    <div class="selectableOrb" [ngClass]="{'activeSelectedOrb': c.isSelected}"
                                        (click)="selectOrb(c)">
                                        <h6 [ngClass]="this.orbColorConditional(c)">{{ c.name }}</h6>
                                        <br />
                                        {{ this.getEquipmentShortDescription(c.name) }}
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="selectedOrb !== undefined && selectedOrb !== null" class="modal-footer">
                    <span class="selectedOrbSpan">
                        <span><span [ngClass]="this.orbColorConditional(selectedOrb)">{{selectedOrb.name}}</span> - {{
                            this.getEquipmentShortDescription(selectedOrb.name)
                            }} </span>

                        <span class="rightAlign">
                            <button type="button" class="spaced" (click)="equipOrb()">Equip</button>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="equipmentList.length == 0">
                No equipment available.
            </div>
        </form>
    </div>
</ng-template>

<ng-template #talentsContent let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Talents</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div *ngIf="selectedAnimal.talentTree.talentTreeType === talentTreeTypeEnum.none">
                <div class="modal-body">
                    <div *ngIf="talentTreeOptions.length > 0">
                        <div class="typeContainer">
                            <span *ngFor="let talentTree of talentTreeOptions" class="talents subHeading"
                                [ngClass]="{'selectedTalentTree': selectedTalentTree === talentTree}"
                                (click)="filterTalentTree(talentTree)">
                                {{talentTree.trim()}}
                            </span>
                        </div>
                        <hr />
                        <div *ngIf="inDepthTalentTreeDescription !== '' && inDepthTalentTreeDescription !== undefined">
                            <strong> {{ inDepthTalentTreeDescription }} </strong>
                            <br />
                            <div class="rightTextAlign">
                                <button type="button" (click)="selectTalentTree()">Select</button>
                            </div>
                            <hr />
                            <div class="centered"><em>Preview</em></div>
                            <div class="modal-body talentPreview">
                                <div class="talentRow"
                                    *ngFor="let _ of [].constructor(talentRows); let rowIndex = index">
                                    <div class="rowFlex">
                                        <div class="talentColumn"
                                            *ngFor="let _ of [].constructor(talentColumns); let columnIndex = index">
                                            <div
                                                [ngClass]="rowIndex < talentRows -1 ? 'talentContent' : 'lastTalentContent'">
                                                <app-talent [row]="rowIndex" [column]="columnIndex"
                                                    [selectedAnimal]="selectedAnimal"
                                                    (spentTalent)="spentTalent($event)" [isPreview]="true"
                                                    [previewType]="selectedTalentTree"></app-talent>
                                            </div>
                                            <div class="talentSpacer">
                                                <div *ngIf="rowIndex !== talentRows-1" class="defaultTalentSpacer">
                                                </div>
                                                <div *ngIf="rowIndex !== talentRows-1"
                                                    [ngClass]="getBorderConditional(rowIndex, columnIndex)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="selectTalentTree()">Select</button>
                </div>
            </div>
            <div class="modal-body" *ngIf="selectedAnimal.talentTree.talentTreeType !== talentTreeTypeEnum.none">
                <div class="talentInfo">Available Talent Points: {{ availableTalentPoints }}</div>
                <br />
                <!--<p>
                    <span>Cost to reset talent specialization: {{talentResetCost}}</span>
                    <button (click)="resetTalents()" class="spaced">Reset Talents</button>
                    
                </p>-->
                <br />
                <div class="talentRow" *ngFor="let _ of [].constructor(talentRows); let rowIndex = index">
                    <div class="rowFlex">
                        <div class="talentColumn"
                            *ngFor="let _ of [].constructor(talentColumns); let columnIndex = index">
                            <div [ngClass]="rowIndex < talentRows -1 ? 'talentContent' : 'lastTalentContent'">
                                <app-talent [row]="rowIndex" [column]="columnIndex" [selectedAnimal]="selectedAnimal"
                                    (spentTalent)="spentTalent($event)"></app-talent>
                            </div>
                            <div class="talentSpacer">
                                <div *ngIf="rowIndex !== talentRows-1" class="defaultTalentSpacer">
                                </div>
                                <div *ngIf="rowIndex !== talentRows-1"
                                    [ngClass]="getBorderConditional(rowIndex, columnIndex)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #orbDetailsContent let-modal>
    <div class="modalClass orbContent">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Orb Stats Info</h4>
            <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
        </div>

        <div class="modal-body">
            <app-orbs-view></app-orbs-view>
        </div>
    </div>
</ng-template>

<ng-template #baseStatsContent let-modal>
    <div class="modalClass">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Base Stats Info</h4>
            <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
        </div>

        <div class="modal-body">
            <div class="baseStats">
                <div class="popoverClass">
                    <span class='keyword'>Speed - </span> {{ getTopSpeedPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Acceleration - </span> {{ getAccelerationPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Endurance - </span> {{ getEndurancePopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Power - </span> {{ getPowerPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Focus - </span> {{ getFocusPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Adaptability - </span> {{ getAdaptabilityPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Diminishing Returns - </span> {{ getDiminishingReturnsPopover() }}
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #racingStatsContent let-modal>
    <div class="modalClass">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Racing Stats Info</h4>
            <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
        </div>

        <div class="modal-body">
            <div class="racingStats">
                <div class="popoverClass">
                    <span class='keyword'>Max Speed - </span> {{ selectedAnimal.currentStats.maxSpeedMsPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Acceleration Rate - </span> {{
                    selectedAnimal.currentStats.accelerationMsPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Stamina - </span> {{ selectedAnimal.currentStats.staminaPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Power Efficiency - </span> {{ selectedAnimal.currentStats.powerMsPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Focus Distance - </span> {{ selectedAnimal.currentStats.focusMsPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Adaptability Distance - </span> {{
                    selectedAnimal.currentStats.adaptabilityMsPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Burst Chance - </span> {{ selectedAnimal.currentStats.burstChancePopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Burst Distance - </span> {{ selectedAnimal.currentStats.burstDistancePopover()
                    }}
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #miscStatsContent let-modal>
    <div class="modalClass">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Miscellaneous Stats Info</h4>
            <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
        </div>

        <div class="modal-body">
            <div class="baseStats">
                <div class="popoverClass">
                    <span class='keyword'>Bonus Breed XP From
                        Training - </span> {{ getBonusTrainingXpPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Bonus Breed XP From
                        Free Races - </span> {{ getBonusFreeRaceXpPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Bonus Breed XP From
                        Circuit Races - </span> {{ getBonusCircuitRaceXpPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Training Time Reduction - </span> {{ getBonusTrainingTimeReductionPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Bonus Diminishing Returns
                        per Facility Level - </span> {{ getBonusDiminishingReturnsPerFacilityLevelPopover() }}
                </div>
                <hr />
                <div class="popoverClass">
                    <span class='keyword'>Bonus Talents - </span> {{ getBonusTalentsPopover() }}
                </div>
            </div>
        </div>
    </div>
</ng-template>