.allLocalRaces {
  text-align: center;
  height: 100%;

  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);
}

.minimizer {
  display: flex;
  justify-content: space-around;
}

.minimizerSideSpacing {
  width: 3rem;
}

.inlineDescription {
  width: 40%;
  margin-top: auto;
  margin-bottom:auto;
}

.raceNameSpacing {
  width: 20%;
}