<div class="statsView">
    <div class="marginGrid">
        <div class="view">
            <h2 class="info">Stats</h2>
            <br />
            <br />
            Total Races: {{ trackedStats.totalRaces | number:'1.0':'en-US' }}
            <br />
            Total Meters Covered: {{ trackedStats.totalMetersRaced.toFixed(0) | number:'1.0':'en-US' }}
            <br />
            Total Breeds: {{ trackedStats.totalBreeds | number:'1.0':'en-US' }}
            <br />
            <span class="coloredText" [ngClass]="getColorClass(mostUsedAnimal)">Most Used Animal: {{ mostUsedAnimal }} ({{mostUsedAnimalCount | number:'1.0':'en-US'}})</span>
            <br />
            <span class="coloredText" [ngClass]="getColorClass(trackedStats.highestMaxSpeed)">Highest Max Speed: {{ trackedStats.highestMaxSpeed }}</span>
            <br />
            <span class="coloredText" [ngClass]="getColorClass(trackedStats.highestAccelerationRate)">Highest Acceleration Rate: {{ trackedStats.highestAccelerationRate }}</span>
            <br />
            <span class="coloredText" [ngClass]="getColorClass(trackedStats.highestStamina)">Highest Stamina: {{ trackedStats.highestStamina }}</span>
            <br />
            <span class="coloredText" [ngClass]="getColorClass(trackedStats.highestPowerEfficiency)">Highest Power Efficiency: {{ trackedStats.highestPowerEfficiency }}</span>
            <br />
            <span class="coloredText" [ngClass]="getColorClass(trackedStats.highestFocusDistance)">Highest Focus Distance: {{ trackedStats.highestFocusDistance }}</span>
            <br />
            <span class="coloredText" [ngClass]="getColorClass(trackedStats.highestAdaptabilityDistance)">Highest Adaptability Distance: {{ trackedStats.highestAdaptabilityDistance }}</span>
        </div>
    </div>
</div>