<div id="raceInfo">
    <div class="updates">
        {{ incrementalRaceUpdates.trim() }}
    </div>
    <div class="results" *ngIf="displayResults">
        <hr />
        <span>Rewards</span>
        <div class="rewards">
            <table>
                <tr *ngFor="let cells of rewardRows;">
                    <td *ngFor="let c of cells;">{{c}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="back">
        <button (click)="goToRaceSelection()">Back</button>
    </div>
</div>