<div id="raceInfo">
    <div class="headerInfo">
        <div><button (click)="skipRaceAnimation()">Skip</button></div>
        <div>Velocity: {{ getVelocityByFrame() }} / MxSpd/s</div>
        <div><button (click)="pauseRaceAnimation()">Pause</button></div>
    </div>
    <div class="updates">        
        <div class="drawRace">
            <app-draw-race [race]="selectedRace" [skip]="skipRace.asObservable()" [pause]="pauseRace.asObservable()"></app-draw-race>
        </div>
        <div class="raceUpdates">
            {{ incrementalRaceUpdates.trim() }}
        </div>
    </div>
    <br />
    <div class="results" *ngIf="displayResults">        
        <span class="s4Heading">Rewards</span>
        <div class="rewards">
            <table>
                <tr *ngFor="let cells of rewardRows;">
                    <td *ngFor="let c of cells;"><span class="keyword">{{c.name}}</span>: {{c.amount}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="back">
        <button (click)="goToRaceSelection()">Back</button>
    </div>
</div>