<div [ngClass]="colorConditional" class="keyword animal">
    <h6 class="keyword" *ngIf="selectedAnimal.name !== selectedAnimal.getAnimalType()">
        <span *ngIf="selectedAnimal.name !== selectedAnimal.getAnimalType()">{{ selectedAnimal.name }}</span>
        <br />
        <span>{{ selectedAnimal.getAnimalType() }}</span>
    </h6>
    <h6 class="keyword" *ngIf="selectedAnimal.name === selectedAnimal.getAnimalType()">
        <span>{{ selectedAnimal.getAnimalType() }}</span>
    </h6>
    <br />
    <br />
    <span>{{ selectedAnimal.getRaceCourseType() }}</span>
    <div *ngIf="isTrainingTrackView">
        <br />
        <br />
        <h6 class="keyword"><em>{{trainingTrackRewardsRemaining}} / {{ trainingTrackTotalRewards }} rewards remaining</em></h6>
    </div>
</div>