<div class="container" id="barnViewDiv">
    <div class="barn1">
        <app-barn></app-barn>
    </div>

    <div class="barn2">
        <app-barn></app-barn>
    </div>

    <div class="barn3">
        <app-barn></app-barn>
    </div>

    <div class="barn4">
        <app-barn></app-barn>
    </div>

    <div class="barn5">
        <app-barn></app-barn>
    </div>

    <div class="barn6">
        <app-barn></app-barn>
    </div>

    <div class="barn7">
        <app-barn></app-barn>
    </div>

    <div class="barn8">
        <app-barn></app-barn>
    </div>

    <div class="barn9">
        <app-barn></app-barn>
    </div>
</div>