#barnViewDiv {
  height: 100%;
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);
}

.selectedBarnDiv {
  height: 100%;
}

.rightSpaced {
  margin-right: .5em;
}

.checkboxOption label {
  display: inline-block;
  white-space: nowrap;
}

.checkboxOption input {
  vertical-align: middle;
}

.checkboxOption label span {
  vertical-align: middle;
}

.barnOptions {
  position: sticky;
  right: 0;
  width: 100%;
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);

  padding: 0.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.flexed {
  display: flex;
  justify-content: space-around;
}

.barnDefault {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);

  border: 1px solid rgba(0, 0, 0, .1);
  border-right: none;
  border-top: none;
  width: 33.3333%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.pointerCursor {
  cursor: pointer;
}

.condensedBarnDefault {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
  color: var(--foreground-default);

  border: 1px solid rgba(0, 0, 0, .1);
  border-right: none;
  border-top: none;
  display: inline-block;
  vertical-align: middle;  
  width: 100%;
}

.column {
  width: 100%;
}

.barnRow {
  height: 25%;
  width: 100%;
  display: inline-block;
}

.lockedBarnRow {
  border: none !important;
}


.tutorialActive {
  border: 1px solid rgba(0, 0, 0, .1);
  border-color: red;
}