.orbView {    
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);
  }

.centered {
    text-align: center;
}

.progressBar {
    width: 50%;
}

.progressBarMinimized {
    width: 30% !important;
}

.progressBarContainer {
    display: flex;
    justify-content: space-evenly;
}

.xpWidth {
  width: 20%;
  text-align: center;
}

.minimizer {
    display: flex;
    justify-content: space-between;
  }
  
  .minimizerSideSpacing {
    width: 3rem;
  }

  .minimizedDisplay {
    display: flex;
    justify-content: space-around;
  }

  .setVerticalAlign {
    margin-top: auto;
    margin-bottom: auto;
  }

  .orbNameWidth {
    width: 8rem;
  }