<div class="orbView">
<div *ngFor="let orb of allOrbs;">
    <div class="centered">
        <!--Name, then xp bar, then xp amount, then effect -->
        <span class="s4Heading" [ngClass]="this.colorConditional(orb.type)">{{globalService.getOrbNameFromType(orb.type)}}</span>
        <div>
            <br />
            <p class="progressBarContainer">
                <span>Lv {{ orb.level }}</span>
                <ngb-progressbar type="success" [value]="this.getProgressBarPercent(orb.type)" class="progressBar">
                </ngb-progressbar>
                <span class="customLabel">{{ this.getProgressBarPercent(orb.type) | number : '1.2-2' }}%</span>
                <span>Lv {{ orb.level + 1 }}</span>
            </p>
            <span>XP needed for next level: {{orb.xp}} / {{ orb.xpNeededForLevel }}</span>
            <br/>
            {{ this.globalService.getOrbDescription(orb.type) }}            
        </div>
    </div>
    <hr/>
</div>
</div>