<div class="orbView">
    <div class="centered">
        Each orb is attuned to a specific stat, increasing it by 20% per level. This increase is reduced proportionally for however many racers use the same orb during a single race. Orb XP is only gained from races you win and does not include Training Tracks. To equip an Orb, you must first get the 'Orb Pendant' from the Master Training Track. After collecting all of the orbs, you will find a way to increase their max level.
    </div>
    <hr />
    <div *ngFor="let orb of allOrbs;">
        <div class="centered" *ngIf="!isOrbMinimized(orb.type)">
            <!--Name, then xp bar, then xp amount, then effect -->
            <div class="minimizer">
                <span class="minimizerSideSpacing"><button (click)="toggleOrb(orb.type)">-</button></span>
            <span class="s4Heading keyword"
                [ngClass]="this.colorConditional(orb.type)">{{globalService.getOrbNameFromType(orb.type)}}</span>
                <span class="minimizerSideSpacing"></span>
            </div>
            <p>Level {{orb.level}} / {{orb.maxLevel}}</p>
            <div>
                <span class="progressBarContainer">
                    <span>Level {{ orb.level }}</span>
                    <ngb-progressbar type="success" [value]="this.getProgressBarPercent(orb.type)" class="progressBar">
                    </ngb-progressbar>
                    <span *ngIf="orb.level < orb.maxLevel">Level {{ orb.level + 1 }}</span>
                    <span *ngIf="orb.level >= orb.maxLevel">MAX</span>
                </span>                
                <span *ngIf="orb.level < orb.maxLevel">XP needed for next level: {{orb.xp | number : '1.2-2' }} / {{
                    orb.xpNeededForLevel | number : '1.0-0' }} (<span class="customLabel">{{ this.getProgressBarPercent(orb.type) | number : '1.2-2' }}%</span>)</span>
                <span *ngIf="orb.level >= orb.maxLevel">MAX</span>
                <br />
                <br />
                {{ this.globalService.getOrbDescription(orb.type) }}
            </div>
        </div>
        <div *ngIf="isOrbMinimized(orb.type)" class="minimizedDisplay">
            <span class="minimizerSideSpacing"><button (click)="toggleOrb(orb.type)">+</button></span>
            <span class="s4Heading keyword orbNameWidth"
                [ngClass]="this.colorConditional(orb.type)">{{globalService.getOrbNameFromType(orb.type)}}</span>
            <span class="setVerticalAlign">Level {{orb.level}} / {{orb.maxLevel}}</span>
            <ngb-progressbar type="success" [value]="this.getProgressBarPercent(orb.type)" class="progressBar progressBarMinimized setVerticalAlign">
            </ngb-progressbar>
            <span class="setVerticalAlign xpWidth" *ngIf="orb.level < orb.maxLevel">XP needed for Level {{orb.level + 1}}: {{(orb.xpNeededForLevel - orb.xp) | number : '1.0-0' }} </span>
            <span class="setVerticalAlign xpWidth" *ngIf="orb.level >= orb.maxLevel">MAX</span>
        </div>
        <hr />
    </div>
</div>