<div *ngIf="activeShopView === ShopsEnum.regular" class="shopView">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="info">
                <h2>Shop</h2>
            </div>
        </div>        
        <div class="filters">            
            <span id="title">Filters:</span>
            <button (click)="toggleShopFilter('Animals')" id="animalsFilter" class="clickableText buttonAsText" [class.filterActive]="filterAnimals">Animals</button>
            <button (click)="toggleShopFilter('Trainings')" id="trainingsFilter" class="clickableText buttonAsText" [class.filterActive]="filterTrainings">
                Trainings</button>
            <button (click)="toggleShopFilter('Equipment')" id="equipmentFilter" class="clickableText buttonAsText" [class.filterActive]="filterEquipment">Equipment
            </button>
            <button (click)="toggleShopFilter('Food')" id="foodFilter" class="clickableText buttonAsText" [class.filterActive]="filterFood">Food</button>
            <button (click)="toggleShopFilter('Specialty')" id="specialtyFilter" class="clickableText buttonAsText" [class.filterActive]="filterSpecialty">
                Specialty</button>
            <button (click)="toggleShopFilter('Abilities')" id="abilitiesFilter" class="clickableText buttonAsText" [class.filterActive]="filterAbilities">
                Abilities</button>
        </div>
        <button (click)="ResetShopFilters()" class="centered clickableText buttonAsText">
            Reset Filters
        </button>
        <br/>
        <br/>
        <em>Certain items can be bought in bulk. Use the Alt, Shift, and Ctrl keys to modify the amount you are buying.</em>
    </div>
    <br/>
    <div class="shopSection" *ngFor="let section of sections;">
        <app-shopping-list [section]="section" [resetShop]="resetShopSubject.asObservable()" (itemPurchasedEmitter)="itemPurchased($event)"></app-shopping-list>
    </div>
</div>

<div *ngIf="activeShopView === ShopsEnum.token">
    <app-token-shop-view></app-token-shop-view>
</div>