<div class="shopView">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="info">
                <h2>Shop</h2>
            </div>
        </div>        
        <div class="filters">
            <!--css grid-->
            <p (click)="toggleShopFilter('Animals')" id="animalsFilter" [class.filterActive]="filterAnimals">Animals</p>
            <p (click)="toggleShopFilter('Trainings')" id="trainingsFilter" [class.filterActive]="filterTrainings">
                Trainings</p>
            <p (click)="toggleShopFilter('Facility')" id="facilityFilter" [class.filterActive]="filterFacility">Facility
            </p>
            <p (click)="toggleShopFilter('Food')" id="foodFilter" [class.filterActive]="filterFood">Food</p>
            <p (click)="toggleShopFilter('Specialty')" id="specialtyFilter" [class.filterActive]="filterSpecialty">
                Specialty</p>
            <p (click)="toggleShopFilter('Abilities')" id="abilitiesFilter" [class.filterActive]="filterAbilities">
                Abilities</p>
        </div>
    </div>
    <hr />
    <div class="shopSection" *ngFor="let section of sections;">
        <app-shopping-list [section]="section"></app-shopping-list>
    </div>
</div>