.resources {
    white-space: pre;
}

.resourcesView {
    height:100%;
    
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);
  }

  .gridContainer {
      height: 100%;
      display: grid;
      grid-template-columns: 25%;
      grid-template-rows: 100%;
      justify-content: stretch;
      grid-template-areas: 
        "resources progression specialty equipment";
    }
    .resources {
      grid-area: resources;
      border-right: 1px solid rgba(0,0,0,.1);
    }
  
    .progression {
      grid-area: progression;
      border-right: 1px solid rgba(0,0,0,.1);
    }
  
    .specialty {
      grid-area: specialty;
      border-right: 1px solid rgba(0,0,0,.1);
    }
  
    .equipment {
      grid-area: equipment;
    }

    .rightAligned {
        text-align: right;
    }

    .centered {
        text-align: center;
    }