<div class="decksView">
    <div class="marginGrid">
        <div class="view">
            <div class="info">
                <h2>Relay Teams</h2>
                <div class="description">
                    Relay Teams are groups of animals that run together in a race. 
                    As you rise through the ranks, races will have multiple legs of varying terrain that require you to use different animals to succeed.
                    Each Relay Team consists of one animal from each course type.
                    Your primary Relay Team is the one that will run the races you select.
                </div>
                <hr />
            </div>
            <div *ngFor="let deck of animalDecks; let i = index">
                <div class="gridContainer">
                    <app-animal-deck [deckNumber]="(i+1)" class="deck"></app-animal-deck>
                    <div class="edit">
                        <button (click)="editDeck(content, deck)" class="editButton">Edit</button>
                    </div>
                    <div class="primary">
                        <button (click)="setAsPrimary(deck)" class="primaryButton">Set as Primary Team</button>
                    </div>
                    <div class="autoRunFreeRace">
                        <button *ngIf="showAutoRaceButton" (click)="setAsAutoRunFreeRace(deck)"
                            class="autoRunFreeRaceButton">Auto
                            Run Free Race</button>
                    </div>
                    <div class="event">
                        <button *ngIf="showEventButton" (click)="setAsEventDeck(deck)" class="eventButton">Set as Event Team</button>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modalClass">
        <form [formGroup]="editDeckForm">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit {{ selectedDeck.name }}</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="deck-name">Relay Team Name: </label>
                    <input id="deck-name" type="text" class="spaced" maxlength="50" formControlName="deckName">
                </div>
                <div *ngIf="displayRaceOrder" class="raceOrder">
                    <input type="checkbox" class="spaced" id="finishTraining" [checked]="isRaceOrderOn"
                        (input)="toggleRaceOrder()">
                    <label class="spaced" (click)="toggleRaceOrder()">Race Order: </label>
                    <span><span id="raceOrder1" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[0])"
                            class="draggable keyword" (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                            (drop)="dropCourseType($event)">{{selectedDeckOrder[0]}}</span>
                        / <span id="raceOrder2" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[1])"
                            class="draggable keyword" (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                            (drop)="dropCourseType($event)">{{selectedDeckOrder[1]}}</span>
                        / <span id="raceOrder3" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[2])"
                            class="draggable keyword" (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                            (drop)="dropCourseType($event)">{{selectedDeckOrder[2]}}</span>
                        / <span id="raceOrder4" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[3])"
                            class="draggable keyword" (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                            (drop)="dropCourseType($event)">{{selectedDeckOrder[3]}}</span>
                        / <span id="raceOrder5" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[4])"
                            class="draggable keyword" (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                            (drop)="dropCourseType($event)">{{selectedDeckOrder[4]}}</span></span>
                </div>
                <br />
                <div class="typeContainer">
                    <span *ngFor="let type of raceCourseTypeList" class="raceType subHeading clickableText"
                        [ngClass]="{'selectedCourseType': selectedCourseType === type, 'flatlandColor': type === 'Flatland',
                'mountainColor': type === 'Mountain', 'waterColor': type === 'Ocean', 'tundraColor': type === 'Tundra', 'volcanicColor': type === 'Volcanic'}" (click)="filterType(type)">
                        {{type.trim()}}
                    </span>
                </div>
                <br />
                <div class="animalContainer">
                    <span *ngFor="let animal of possibleAnimalsList" class="animalOption clickableText"
                        [ngClass]="{'selectedAnimal': selectedAnimalName === animal}" (click)="selectAnimal(animal)">
                        {{animal.trim()}}
                    </span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="saveDeck()">Save</button>
            </div>
        </form>
    </div>
</ng-template>