<div class="decksView">
    <div *ngFor="let deck of animalDecks; let i = index">
        <div class="gridContainer">
            <app-animal-deck [deckNumber]="(i+1)" class="deck"></app-animal-deck>
            <button (click)="editDeck(content, deck)" class="edit">Edit</button>
            <button (click)="setAsPrimary(deck)" class="primary">Set as Primary</button>
            <button *ngIf="showAutoRaceButton" (click)="setAsAutoRunFreeRace(deck)" class="autoRunFreeRace">Auto Run Free Race</button>
        </div>
        <hr />
    </div>
</div>

<ng-template #content let-modal>
    <div class="modalClass">
        <form [formGroup]="editDeckForm">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit {{ selectedDeck.name }}</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="deck-name">Deck Name: </label>
                    <input id="deck-name" type="text" class="spaced" formControlName="deckName">
                </div>
                <div *ngIf="displayRaceOrder" class="raceOrder">                                        
                    <input type="checkbox" class="spaced" id="finishTraining" [checked]="isRaceOrderOn" (input)="toggleRaceOrder()">
                    <label class="spaced" (click)="toggleRaceOrder()">Race Order: </label>
                    <span><span id="raceOrder1" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[0])" class="draggable"
                        (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                        (drop)="dropCourseType($event)">{{selectedDeckOrder[0]}}</span>
                    / <span id="raceOrder2" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[1])" class="draggable"
                        (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                        (drop)="dropCourseType($event)">{{selectedDeckOrder[1]}}</span>
                    / <span id="raceOrder3" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[2])" class="draggable"
                        (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                        (drop)="dropCourseType($event)">{{selectedDeckOrder[2]}}</span>
                    / <span id="raceOrder4" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[3])" class="draggable"
                        (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                        (drop)="dropCourseType($event)">{{selectedDeckOrder[3]}}</span>
                    / <span id="raceOrder5" draggable="true" [ngClass]="getColorClass(selectedDeckOrder[4])" class="draggable"
                        (dragstart)="dragStart($event)" (dragover)="allowDrop($event)"
                        (drop)="dropCourseType($event)">{{selectedDeckOrder[4]}}</span></span>
                </div>
                <br />
                <div class="typeContainer">
                    <span *ngFor="let type of raceCourseTypeList" class="raceType subHeading"
                        [ngClass]="{'selectedCourseType': selectedCourseType === type, 'flatlandColor': type === 'Flatland',
                'mountainColor': type === 'Mountain', 'waterColor': type === 'Ocean', 'tundraColor': type === 'Tundra', 'volcanicColor': type === 'Volcanic'}" (click)="filterType(type)">
                        {{type.trim()}}
                    </span>

                </div>
                <div>
                    <span *ngFor="let animal of possibleAnimalsList" class="animalOption"
                        [ngClass]="{'selectedAnimal': selectedAnimalName === animal}" (click)="selectAnimal(animal)">
                        {{animal.trim()}}
                    </span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="saveDeck()">Save</button>
            </div>
        </form>
    </div>
</ng-template>