.coachingView {
    height: 100%;
    background-color: var(--background-secondary);
    color: var(--foreground-default);
    overscroll-behavior: contain;
}

.marginDiv {
    margin-left: .5rem;
    margin-right: .5rem;
    height: 100%;
}

.drawCoachingDiv {
    height: 100%;
}

.coachingCanvas {
    border: 1px solid black;
    touch-action: none;
    -ms-touch-action: none;
}

.updates {
    white-space: pre;
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 29%;
    grid-template-rows: auto;
    justify-content: stretch;
    gap: 1rem;
    grid-template-areas:
        "drawCoaching coachingUpdates";
}

.coachingUpdates {
    overflow-y: auto;
    white-space: break-spaces;
    grid-area: coachingUpdates;


    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drawCoaching {
    grid-area: drawCoaching;
}

.infoGridContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        ". info back";
}

.back {
    grid-area: back;
}

.info {
    grid-area: info;
    text-align: center;
}

.drawingDiv {
    height: 60%;
}

.underline {
    text-decoration: underline;
}

.progressBarHeight {
    height: .5rem;
}

.buttonSpread {
    display: flex;
    justify-content: space-evenly;
}

.emphasizeFood {
    border: 2px solid green;
    color: green;
    font-weight: bold;
}

.emphasizeWhistle {
    border: 2px solid blue;
    color: blue;
    font-weight: bold;
}

.emphasizeEncouragement {
    border: 2px solid red;
    color: red;
    font-weight: bold;
}

.emphasizeFoodText {
    color: green;
}

.emphasizeWhistleText {
    color: blue;
}

.emphasizeEncouragementText {
    color: red;
}

.scrimmageHeaderInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modalClass {
    white-space: pre-line;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);
  }

.mobileVersion {
    display: none;
}

@media (max-width: 800px) {
    .updates {
        white-space: initial;
        height: initial;
        width: initial;
        display: initial;
        grid-template-columns: initial;
        grid-template-rows: initial;
        justify-content: initial;
        gap: initial;
        grid-template-areas:
        initial;
    }
  
    .headerInfo {
      width: 100%;
    }
  
    .coachingUpdates {
        height: 50%;
      text-align: center;
    }
  
    .mobileVersion {
      display: block;
    }
  
    .webVersion {
      display: none;
    }
  }