<div class="circuitViewDiv">
    <div class="circuitRaceHeader">Rank {{ circuitRank }} Circuit</div>
    <app-animal-deck></app-animal-deck>
    <hr />
    <div class="circuitRaceGrid">
        <div class="circuitRace{{i+1}}" (click)="selectCircuitRace(race)"
            *ngFor="let race of availableCircuitRaces; let i = index">
            <span>Race {{ i+1 }} </span>
            <br />
            <p *ngFor="let raceLeg of race.raceLegs">{{ raceLeg.distance | number :
                '1.2-2' }} Meters of {{ raceLeg.getTerrainName() }} {{ raceLeg.getCourseTypeName() }}  </p>
            <p>{{ race.isCompleted ? "Completed" : "Start" }}</p>
        </div>
    </div>
</div>