<div class="incubatorTraitsModal">
    <div class="infoText">
        <div class="infoGridContainer">            
            <div class="info">                
                <div [ngClass]="colorConditional" (click)="goToAnimal()" class="clickableText keyword" *ngIf="this.selectedAnimal.name !== this.selectedAnimal.getAnimalType()">
                    <span *ngIf="this.selectedAnimal.name !== this.selectedAnimal.getAnimalType()">{{
                        this.selectedAnimal.name }}</span>
                    <br />
                    <span>{{ this.selectedAnimal.getAnimalType() }}</span>
                </div>
                <div [ngClass]="colorConditional" (click)="goToAnimal()" class="clickableText keyword" *ngIf="this.selectedAnimal.name === this.selectedAnimal.getAnimalType()">
                    <span>{{ this.selectedAnimal.getAnimalType() }}</span>
                </div>      
                <span>Current Trait: {{ this.selectedAnimal.getTraitName() }}</span>          
                <hr />
                <span class="activeTrait" *ngIf="this.existingTrait !== null && this.existingTrait !== undefined">{{
                    this.existingTrait.traitName }} </span>
                <span *ngIf="this.existingTrait === null || this.existingTrait === undefined">No Trait
                    Assigned</span>
            </div>
            <div class="back">
                <button (click)="returnToAnimalView()">Back</button>
            </div>
        </div>
        <hr />
        <div *ngIf="this.existingTrait !== null && this.existingTrait !== undefined">
            <br />
            <p class="progressBarContainer">
                <ngb-progressbar type="success" [value]="this.trainingProgressBarPercent" class="progressBar">
                </ngb-progressbar>
                <span class="customLabel">{{ this.trainingProgressBarPercent | number : '1.2-2' }}%</span>
            </p>
            <br />
        </div>
        <br />
        <br />
        <div class="filterGridContainer">
            <div class="resetFiltersHeader clickableText">
                <span (click)="resetFilters()">Reset Filters</span>
            </div>
            <div class="changeTrainingHeader">
                <span>Choose New Trait</span>
            </div>
            <div class="statFilter clickableText filterMargins">
                <button class="buttonAsText" (click)="toggleStatFilter('Speed')" id="speedFilter" [class.filterActive]="filterSpeed">SPD
                </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Acceleration')" id="accelerationFilter"
                    [class.filterActive]="filterAcceleration">ACC </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Endurance')" id="enduranceFilter"
                    [class.filterActive]="filterEndurance">END </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Power')" id="powerFilter" [class.filterActive]="filterPower">PWR
                </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Focus')" id="focusFilter" [class.filterActive]="filterFocus">FCS
                </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Adaptability')" id="adaptabilityFilter"
                    [class.filterActive]="filterAdaptability">ADP</button>
            </div>
        </div>
        <br />
        <app-trait-list [availableTraits]="availableTraits"
            (selectedTrait)="selectNewTrait($event)"></app-trait-list>
    </div>
</div>