<div class="selectedBarnModal" *ngIf="animalAssigned && !barn.isLocked">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="unassign">
                <div class="unassignButtons">
                    <button (click)="unassignAnimal()" class="rightSpaced">Unassign</button>
                    <button (click)="openSwapModal(swapModal)">Swap</button>
                </div>
                <!--<span  class="clickableText" (click)="unassignAnimal()">Unassign</span>-->
                <br />
                <br />
                <div *ngIf="barnSpecializationsUnlocked">
                    <span [ngbPopover]="totalBarnStatsContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass" (click)="openBarnUpgradeModal(barnUpgradeContent)">Barn Level {{
                        barn.barnUpgrades.barnLevel }}</span>
                    <br />
                    <br />
                    <span [ngbPopover]="upgradeBarnContent" triggers="mouseenter:mouseleave"
                        popoverClass="popoverClass">
                        <button (click)="upgradeBarn()" [disabled]="!canUpgrade">{{ upgradeText }}</button>
                    </span>
                </div>
            </div>
            <div class="info">
                <span> {{ this.barnName }}</span>
                <br />
                <button *ngIf="this.associatedAnimal.name !== this.associatedAnimal.getAnimalType()"
                    [ngClass]="colorConditional" class="keyword buttonAsTextKeepColor clickableText"
                    (click)="goToAnimal()">
                    <span *ngIf="this.associatedAnimal.name !== this.associatedAnimal.getAnimalType()">{{
                        this.associatedAnimal.name }}</span>
                    <br />
                    <span>{{ this.associatedAnimal.getAnimalType() }}</span>
                </button>
                <button *ngIf="this.associatedAnimal.name === this.associatedAnimal.getAnimalType()"
                    (click)="goToAnimal()" [ngClass]="colorConditional"
                    class="clickableText keyword buttonAsTextKeepColor">
                    <span>{{ this.associatedAnimal.getAnimalType() }}</span>
                </button>
                <div>
                    <span [ngClass]="{'sizeSpacing': this.sizeValue !== 'Large' }">{{ this.sizeValue }} </span> <span
                        *ngIf="this.sizeValue !== 'Large'" [ngbPopover]="costToBuildContent"
                        triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                        <br class="mobileVersion" />
                        <button (click)="upgradeBarnSize()"
                            [disabled]="!canBuild" class="sizeButtonSpacing">Build</button>
                        </span>
                </div>
                <hr />
                <div *ngIf="this.existingTraining !== null && this.existingTraining !== undefined"
                    [ngbPopover]="noTrainingContent" triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                    <span class="activeTrainingOption">{{ this.existingTraining.trainingName }} </span>
                    <br />
                    <span><em>({{ (this.existingTraining.trainingTimeRemaining / 60) | number : '1.0-0' }} min
                            remaining)</em></span>
                </div>
                <div *ngIf="this.existingTraining === null || this.existingTraining === undefined"
                    [ngbPopover]="currentTrainingContent" triggers="mouseenter:mouseleave" popoverClass="popoverClass">
                    <span>No Training Assigned</span>
                </div>
            </div>
            <div class="back">
                <button (click)="returnToBarnView()">Back</button>
                <!--<span (click)="returnToBarnView()" class="clickableText">Back</span>-->
                <br />
                <br />
                <br />
                <br />
                <br />
                <div *ngIf="coachingUnlocked">
                    <span>
                        <button (click)="goToCoaching()">Coach</button>
                    </span>
                </div>
            </div>
        </div>
        <hr />
        <div *ngIf="this.existingTraining !== null && this.existingTraining !== undefined">
            <br />
            <p class="progressBarContainer">
                <ngb-progressbar type="success" [value]="this.trainingProgressBarPercent" class="progressBar">
                </ngb-progressbar>
                <span class="customLabel">{{ this.trainingProgressBarPercent | number : '1.2-2' }}%</span>
            </p>
            <br />
        </div>
        <br />
        <div class="changeTrainingHeader">
            <span class="s4Heading" (click)="resetFilters()">Change Training</span>
            <br />
            <span class="trainingDescription"><em>Click an option below to start training.</em></span>
        </div>
        <br />
        <div class="filterGridContainer">
            <div class="facilitySizeFilter clickableText filterMargins">
                <button class="buttonAsText" (click)="toggleFacilityFilter('Small')" id="smallFilter"
                    [class.filterActive]="filterSmall">Small
                </button>
                <button class="buttonAsText" (click)="toggleFacilityFilter('Medium')" id="mediumFilter"
                    [class.filterActive]="filterMedium">Medium </button>
                <button class="buttonAsText" (click)="toggleFacilityFilter('Large')" id="largeFilter"
                    [class.filterActive]="filterLarge">Large
                </button>
            </div>
            <button class="resetFiltersHeader buttonAsText clickableText">
                <span (click)="resetFilters()">Reset Filters</span>
            </button>
            <div class="statFilter clickableText filterMargins">
                <button class="buttonAsText" (click)="toggleStatFilter('Speed')" id="speedFilter"
                    [class.filterActive]="filterSpeed">SPD
                </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Acceleration')" id="accelerationFilter"
                    [class.filterActive]="filterAcceleration">ACC </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Endurance')" id="enduranceFilter"
                    [class.filterActive]="filterEndurance">END </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Power')" id="powerFilter"
                    [class.filterActive]="filterPower">PWR
                </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Focus')" id="focusFilter"
                    [class.filterActive]="filterFocus">FCS
                </button>
                <button class="buttonAsText" (click)="toggleStatFilter('Adaptability')" id="adaptabilityFilter"
                    [class.filterActive]="filterAdaptability">ADP</button>
            </div>
        </div>
        <br />
        <div [ngClass]='tutorialActive ? "tutorialActive" : ""'>
            <div *ngIf="!associatedAnimal.canTrain" class="keyword">
                <em>This animal is currently busy and will not progress in their training.</em>
            </div>
            <app-training-list [availableTrainingOptions]="availableTrainings"
                (selectedTrainingOption)="selectNewTraining($event)">
            </app-training-list>            
        </div>
    </div>
</div>

<div class="selectedBarnModal" *ngIf="!animalAssigned && !barn.isLocked">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="info">
                <span>Barn {{ this.selectedBarnNumber }}</span>
                <br />
                <span>Unassigned</span>
            </div>
            <div class="back">
                <button (click)="returnToBarnView()">Back</button>
            </div>
        </div>
        <hr />
        <br />
        <span>Assign Animal</span>
        <br />
        <br />
        <app-animal-list [availableAnimals]="availableAnimals" (selectedAnimal)="assignAnimal($event)">
        </app-animal-list>
    </div>
</div>

<div class="selectedBarnModal" *ngIf="barn.isLocked">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="info">
                <span>Barn {{ this.selectedBarnNumber }}</span>
                <br />
                <span>Locked</span>
            </div>
            <div class="back">
                <button (click)="returnToBarnView()">Back</button>
            </div>
        </div>
        <hr />
        <br />
        <div class="purchaseBarn">
            <span>Purchase Barn</span>
            <br />
            <br />
            <span class="price resourceKeyword">{{ barn.purchasePrice }} Coins</span>
            <br />
            <button id="purchaseButton" [disabled]="!canPurchaseBarn()" (click)="purchaseBarn()">Buy</button>
        </div>
    </div>
</div>

<ng-template #totalBarnStatsContent>
    <div class="popoverClass" *ngIf="totalBarnStatsPopover !== ''">
        <div [innerHTML]='totalBarnStatsPopover'></div>
    </div>
</ng-template>

<ng-template #upgradeBarnContent>
    <div class="popoverClass" *ngIf="upgradeBarnPopover !== ''">
        {{ upgradeBarnPopover }}
    </div>
</ng-template>

<ng-template #costToBuildContent>
    <div class="popoverClass" *ngIf="buildBiggerBarnPopover !== ''">
        {{ buildBiggerBarnPopover }}
    </div>
</ng-template>

<ng-template #noTrainingContent>
    <div class="popoverClass" *ngIf="currentTrainingPopover !== ''" [innerHTML]='currentTrainingPopover'>
    </div>
</ng-template>

<ng-template #currentTrainingContent>
    <div class="popoverClass" *ngIf="currentTrainingPopover !== ''" [innerHTML]='currentTrainingPopover'>
    </div>
</ng-template>


<ng-template #swapModal let-modal>
    <div class="modalClass">        
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Swap Animals</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div class="modal-body centered">
                <span>Swap</span>
                <br/>
                <div class="barnRow"><strong>{{ lookupService.getBarnName(barn) }}</strong> - <span [innerHTML]="animalNameWithClass(barn)"></span></div>                
                <span>With</span>
                <br/>                
                <div *ngIf="otherBarns.length === 0">
                    <span>No Barns Available</span>
                </div>
                <div *ngIf="otherBarns.length > 0">
                <div *ngFor="let otherBarn of otherBarns">
                    <div class="barnRow flex"><span><strong>{{ lookupService.getBarnName(otherBarn) }}</strong> - <span [innerHTML]="animalNameWithClass(otherBarn)"></span></span>
                    <button (click)="swapAnimals(otherBarn.barnNumber)" class="rightAligned">Swap</button>
                    </div>                    
                </div>
            </div>
            </div>
    </div>
</ng-template>

<ng-template #specializationModal let-modal>
    <div class="modalClass">
        <form>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Choose Barn Specialization</h4>
                <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
            </div>
            <div class="modal-body">
                <div class="typeContainer" *ngIf="specializationOptions.length > 0">
                    <span *ngFor="let specialization of specializationOptions" class="specializationType subHeading"
                        [ngClass]="{'selectedSpecialization': selectedSpecialization === specialization}"
                        (click)="filterSpecialization(specialization)">
                        {{specialization.trim()}}
                    </span>
                </div>
                <hr />
                <div *ngIf="specializationDescription !== '' && specializationDescription !== undefined">
                    {{ specializationDescription }}
                    <br />
                    <br />
                    <strong> {{ inDepthSpecializationDescription }} </strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="selectSpecialization()">Select</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #barnUpgradeContent let-modal>
    <div class="modalClass">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Barn Upgrade Info</h4>
            <button type="button" aria-label="Close" (click)="modal.dismiss()">X</button>
        </div>

        <div class="modal-body">
            <div class="upgradeBarnInfo">
                <div [innerHTML]='totalBarnStatsPopover'></div>
                <br />                                                
                {{ upgradeBarnPopover }}
                <br />
                <hr />
                <div class="resetBarn" *ngIf="this.barn.barnUpgrades.specializationLevel > 0">
                    <div class='resetSpecializationInfo'>
                        <span class='s4Heading'>Reset Barn Specialization</span>
                        <br />
                        <em>
                            Tear down your barn to build up something new. Each barn can be reset as many times as you
                            want, but <strong>it only retains 80% of its current Barn Level after being reset.</strong>
                        </em>
                    </div>
                    <br />
                    <div>
                        <div class="resetSpecializationOptions">
                            <div class="typeContainer" *ngIf="specializationOptions.length > 0">
                                <span *ngFor="let specialization of specializationOptions"
                                    class="specializationType subHeading"
                                    [ngClass]="{'selectedSpecialization': selectedSpecialization === specialization}"
                                    (click)="filterSpecialization(specialization)">
                                    {{specialization.trim()}}
                                </span>
                            </div>
                            <hr />
                            <div *ngIf="specializationDescription !== '' && specializationDescription !== undefined">
                                {{ specializationDescription }}
                                <br />
                                <br />
                                <strong> {{ inDepthSpecializationDescription }} </strong>
                                <br />
                                <br />
                            </div>

                        </div>
                        <div class="modal-footer spaceEvenly">
                            <span>New Barn Level will be {{ postResetBarnUpgradeLevel }}</span>
                            <button type="button" (click)="resetSpecialization()">Reset Specialization</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>