<div class="selectedBarnModal" *ngIf="animalAssigned && !barn.isLocked">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="unassign" (click)="unassignAnimal()">
                <span>Unassign</span>
            </div>
            <div class="info">
                <span>Barn {{ this.selectedBarnNumber }}</span>
                <br />
                <div *ngIf="this.associatedAnimal.name !== this.associatedAnimal.getAnimalType()">
                    <span *ngIf="this.associatedAnimal.name !== this.associatedAnimal.getAnimalType()">{{
                        this.associatedAnimal.name }}</span>
                    <br />
                    <span>{{ this.associatedAnimal.getAnimalType() }}</span>
                </div>
                <div *ngIf="this.associatedAnimal.name === this.associatedAnimal.getAnimalType()">
                    <span>{{ this.associatedAnimal.getAnimalType() }}</span>
                </div>
                <div>
                    <span>{{ this.sizeValue }}</span> <span *ngIf="this.sizeValue !== 'Large'"><button (click)="upgradeBarn()" [disabled]="canUpgrade">Upgrade</button></span>
                </div>
                <hr />
                <span *ngIf="this.existingTraining !== null && this.existingTraining !== undefined">{{
                    this.existingTraining.trainingName }} </span>
                <span *ngIf="this.existingTraining === null || this.existingTraining === undefined">No Training
                    Assigned</span>
            </div>
            <div class="back" (click)="returnToBarnView()">
                <span>Back</span>
            </div>
        </div>
        <hr />
        <div *ngIf="this.existingTraining !== null && this.existingTraining !== undefined">
            <br />
            <p class="progressBarContainer">
                <ngb-progressbar type="success" [value]="this.trainingProgressBarPercent" class="progressBar">
                </ngb-progressbar>
                <span class="customLabel">{{ this.trainingProgressBarPercent | number : '1.2-2' }}%</span>
            </p>
            <br />
        </div>
        <br />
        <br />
        <div class="filterGridContainer">
            <div class="facilitySizeFilter">
                <span (click)="toggleFacilityFilter('Small')" id="smallFilter" [class.filterActive]="filterSmall">Small
                </span>
                <span (click)="toggleFacilityFilter('Medium')" id="mediumFilter"
                    [class.filterActive]="filterMedium">Medium </span>
                <span (click)="toggleFacilityFilter('Large')" id="largeFilter" [class.filterActive]="filterLarge">Large
                </span>
            </div>
            <div class="changeTrainingHeader">
                <span>Change Training</span>
            </div>
            <div class="statFilter">
                <span (click)="toggleStatFilter('Speed')" id="speedFilter" [class.filterActive]="filterSpeed">SPD
                </span>
                <span (click)="toggleStatFilter('Acceleration')" id="accelerationFilter"
                    [class.filterActive]="filterAcceleration">ACC </span>
                <span (click)="toggleStatFilter('Endurance')" id="enduranceFilter"
                    [class.filterActive]="filterEndurance">END </span>
                <span (click)="toggleStatFilter('Power')" id="powerFilter" [class.filterActive]="filterPower">PWR
                </span>
                <span (click)="toggleStatFilter('Focus')" id="focusFilter" [class.filterActive]="filterFocus">FCS
                </span>
                <span (click)="toggleStatFilter('Adaptability')" id="adaptabilityFilter"
                    [class.filterActive]="filterAdaptability">ADP</span>
            </div>
        </div>
        <br />
        <app-training-list [availableTrainingOptions]="availableTrainings"
            (selectedTrainingOption)="selectNewTraining($event)"></app-training-list>
    </div>
</div>

<div class="selectedBarnModal" *ngIf="!animalAssigned && !barn.isLocked">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="info">
                <span>Barn {{ this.selectedBarnNumber }}</span>
                <br />
                <span>Unassigned</span>
            </div>
            <div class="back" (click)="returnToBarnView()">
                <span>Back</span>
            </div>
        </div>
        <hr />
        <br />
        <br />
        <span>Assign Animal</span>
        <app-animal-list [availableAnimals]="availableAnimals" (selectedAnimal)="assignAnimal($event)">
        </app-animal-list>
    </div>
</div>

<div class="selectedBarnModal" *ngIf="barn.isLocked">
    <div class="infoText">
        <div class="infoGridContainer">
            <div class="info">
                <span>Barn {{ this.selectedBarnNumber }}</span>
                <br />
                <span>Locked</span>
            </div>
            <div class="back" (click)="returnToBarnView()">
                <span>Back</span>
            </div>
        </div>
        <hr />
        <br />
        <br />
        <div class="purchaseBarn">
            <span>Purchase Barn</span>
            <br />
            <span class="price">{{ barn.purchasePrice }}</span>
            <button id="purchaseButton" (click)="purchaseBarn()">Buy</button>
        </div>
    </div>
</div>