.selectedBarnModal {    
    height: 100%;
    background-color: var(--background-secondary);    
    color: var(--foreground-default);
  }

.infoText
{
    text-align: center;
}

.customLabel
{
    color: #000;
    font-weight: 700;
    text-align: center;
    position: absolute;
    width: 75%; /* needs to match the size of the main grid */
}

.progressBarContainer
{
    height: 2rem;
}

.progressBar
{
    height: 2rem;
}

.progressBar > div, .progress-bar, .progressBar div {
  -webkit-transition: initial !important;
  -o-transition: initial !important;
  transition: initial !important;
}

.gridContainer
{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas: 
      "trainingName trainingStats trainingTimeToComplete";
}

.trainingName {
    grid-area: trainingName;
  }

  .trainingStats {
    grid-area: trainingStats;
  }

  .trainingTimeToComplete {
    grid-area: trainingTimeToComplete;
  }

  .infoGridContainer
{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas: 
      "unassign info back";
}

.unassign {
  grid-area: unassign;
}

.info {
  grid-area: info;
}

.back {
  grid-area: back;
}