.trainingTrackView {
    height: 100%;
    text-align: center;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);
}

.popoverClass {
    white-space: pre-line;
    width: 100%;
}

.modalClass {
    white-space: pre-line;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);
}

.buttonSpacing {
    text-align: right;
    margin: 1rem;
}