.trainingTrackView
{
    height: 100%;
    text-align: center;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);     
}

.info {    
    text-align: center;
}
