.settingsView
{
    height: 100%;

    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);    
}

#importExport
{
    width: 100%;
}

.spaced {
    margin-left: .5em;
  }

  .rightSpaced {
    margin-right: .5em;
  }
