<div class="settingsView">
    <div class="info">
        <h2>Settings</h2>
    </div>
    <div class="settingsGrid">
        <div class="options">
            <span class="s4Heading">Options</span>
            <br />
            <div class="toggles">
                <span [ngbPopover]="skipDrawRacePopoverText" class="checkboxOption" triggers="mouseenter:mouseleave">
                    <label>
                        <input type="checkbox" class="rightSpaced" id="skipRace" [(ngModel)]="skipDrawRace"
                            (input)="skipDrawRaceToggle()">
                        <span>Auto Skip Race Info</span>
                    </label>
                </span>
                <br />
                <span [ngbPopover]="finishTrainingBeforeSwitchingPopoverText" class="checkboxOption"
                    triggers="mouseenter:mouseleave">
                    <label>
                        <input type="checkbox" class="rightSpaced" id="finishTraining"
                            [(ngModel)]="finishTrainingBeforeSwitching" (input)="finishTrainingBeforeSwitchingToggle()">
                        <span>Finish Training Before Switching </span>
                    </label>
                </span>
                <br />
                <span [ngbPopover]="hideTipsPopoverText" class="checkboxOption" triggers="mouseenter:mouseleave">
                    <label>
                        <input type="checkbox" class="rightSpaced" id="hideTips" [(ngModel)]="hideTips"
                            (input)="hideTipsToggle()">
                        <span>Hide Tips</span>
                    </label>
                </span>
                <br />
                <span [ngbPopover]="useNumbersForCircuitRankPopoverText" class="checkboxOption"
                    triggers="mouseenter:mouseleave">
                    <label>
                        <input type="checkbox" class="rightSpaced" id="useNumbersForCircuitRank"
                            [(ngModel)]="useNumbersForCircuitRank" (input)="useNumbersForCircuitRankToggle()">
                        <span>Use Numbers For Circuit Rank</span>
                    </label>
                </span>
                <br />
                <span [ngbPopover]="autoStartEventRacePopoverText" class="checkboxOption"
                    triggers="mouseenter:mouseleave">
                    <label>
                        <input type="checkbox" class="rightSpaced" id="autoStartEventRace"
                            [(ngModel)]="autoStartEventRace" (input)="autoStartEventRaceToggle()">
                        <span>Auto Start Event Race</span>
                    </label>
                </span>
                <br />
            </div>
            <div [ngbPopover]="raceDisplayInfoPopoverText" triggers="mouseenter:mouseleave" ngbDropdown
                class="d-inline-block">
                <label class="bottomAligned">Race Display Info:</label>
                <button type="button" class="btn dropdown spaced" id="raceDisplayInfoDropdown"
                    ngbDropdownToggle>{{raceDisplayInfo}}</button>
                <div ngbDropdownMenu aria-labelledby="raceDisplayInfoDropdown">
                    <button (click)="changeRaceDisplayInfo(raceDisplayInfoEnum.draw)" ngbDropdownItem>Draw</button>
                    <button (click)="changeRaceDisplayInfo(raceDisplayInfoEnum.text)" ngbDropdownItem>Text</button>
                    <button (click)="changeRaceDisplayInfo(raceDisplayInfoEnum.both)" ngbDropdownItem>Both</button>
                </div>
            </div>
            <br />
            <div ngbDropdown class="d-inline-block">
                <label class="bottomAligned">Theme:</label>
                <button type="button" class="btn dropdown spaced" id="themeDropdown"
                    ngbDropdownToggle>{{currentTheme}}</button>
                <div ngbDropdownMenu aria-labelledby="themeDropdown">
                    <button (click)="changeTheme('White')" ngbDropdownItem>White</button>
                    <button (click)="changeTheme('Light')" ngbDropdownItem>Light</button>
                    <button (click)="changeTheme('Twilight')" ngbDropdownItem>Twilight</button>
                    <button (click)="changeTheme('Night')" ngbDropdownItem>Night</button>
                </div>
            </div>
        </div>
        <div class="saveLoad">
            <span class="s4Heading">Save/Load</span>
            <br />
            <div class="importExportDiv">
                <textarea id="importExport" name="importExport" rows="10" [(ngModel)]="importExportValue"></textarea>
                <div class="importExportButtons">
                    <button (click)="LoadGame()">
                        Import
                    </button>
                    <button (click)="SaveGame()">
                        Export
                    </button>
                </div>
                <br/>
                <div class="importExportButtons">
                    <div>
                        <button (click)="LoadGameFromFile()">
                            Import from File
                        </button>
                        <input type='file' class="spaced" id="fileUpload" (change)="fileChanged($event)">
                    </div>
                    <button (click)="SaveGameToFile()">
                        Export to File
                    </button>
                </div>
            </div>
            <br />
            <br />
            <div>
                <span class="s4Heading">Code Redemption</span>
                <br />
                <br />
                <div class="codeRedemption">
                    <label for="codeRedemptionText">Code: </label>
                    <input id="codeRedemptionText" type="text" class="spaced codeRedemptionInput"
                        [(ngModel)]="enteredRedemptionCode">
                    <button class="screenMarginLeft" (click)="enterRedemptionCode()">
                        Enter
                    </button>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>