<div class="faqView">
    <div class="marginGrid">
        <div class="view">
            <div class="info">
                <h2>Frequently Asked Questions</h2>
                <em>This is still a work in progress!</em>
            </div>
            <br />
            <br />
            <!-- Expander - Question -->
            <!-- Answer -->
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer1')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>I'm stuck early on, how should I progress?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer1">
                    <div class="expanderMargin"></div>
                    <p>In the early game, your biggest obstacles will be coins and breed level. Using the Stockbreeder to Auto Breed your animals can give them a big boost in stats. 
                        <br />
                        <br />
                        If you are having a hard time collecting coins, look into buying Team Managers from the Shop and upgrading your barns to Attractions to build passive income. </p>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer2')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>What do team managers do and how do I set auto race?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer2">
                    <div class="expanderMargin"></div>
                    <p>After buying a Team Manager from the shop, you'll have the ability to set a deck as your "Auto Run Free Race" deck. 
                        Once selected, this deck will immediately run free races as soon as the time period resets creating a steady stream of income (assuming you win, of course!).
                    <br/>
                    <br/>
                    To set a deck as your "Auto Run Free Race" deck, select 'Decks' on the right and then select the button that says "Auto Run Free Race" by the deck you want to select. Note that this option will not be available until you buy a Team Manager.
                </p>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer3')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>I'm having an issue with my game or have some feedback, how can I contact you?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer3">
                    <div class="expanderMargin"></div>
                    <p>Feel free to use the links at the bottom right or email me at CulturaIdle@gmail.com to get in touch. </p>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer4')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>What are all of the circuit race rewards?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer4">
                    <div class="expanderMargin"></div>
                    <p>This will be included at a later date once everything is finalized!</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>