<div class="faqView">
    <div class="marginGrid">
        <div class="view">
            <div class="info">
                <h2>Frequently Asked Questions</h2>
                <em>This FAQ and game is still a work in progress! Bear with me if certain features aren't fully fleshed
                    out and developed yet. If you have any feedback at all, please let me know using one of the links on
                    the bottom right. Thank you so much for playing and hope you're enjoying it!</em>
            </div>
            <br />
            <div class="subsections s4Heading">
                <button [ngClass]="currentSection === faqSectionsEnum.basics ? 'active' : ''"
                    class="subsectionOption buttonAsText"
                    (click)="changeSection(faqSectionsEnum.basics)">Basics</button>
                <button [ngClass]="currentSection === faqSectionsEnum.progression ? 'active' : ''"
                    class="subsectionOption buttonAsText"
                    (click)="changeSection(faqSectionsEnum.progression)">Progression</button>
                <button [ngClass]="currentSection === faqSectionsEnum.calculators ? 'active' : ''"
                    class="subsectionOption buttonAsText"
                    (click)="changeSection(faqSectionsEnum.calculators)">Calculators</button>
            </div>
            <hr />
            <br />
            <!-- Expander - Question -->
            <!-- Answer -->
            <div *ngIf="currentSection === faqSectionsEnum.basics">
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerBreedGuide')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What does Breeding do? How do I gain Breed XP?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerBreedGuide">
                        <div class="expanderMargin"></div>
                        <p>
                            Breeding is one of the best way to increase your animals' racing capabilities. It is a reset
                            mechanic, meaning all of the base stats
                            your animal has gained will be reset back to their default levels, and in return gain a
                            permanent multiplier to your racing stats. Note
                            that the stats your animal has prior to breeding have no impact on Breeding.
                            <br />
                            <br />
                            Every time you Breed, you gain a 5% increase to the amount your base stats contribute to
                            your racing stats. If you hover over your
                            base stats (or tap if you are on mobile) when selecting an animal on the Animal page, you
                            will see a breakdown of all multipliers
                            you have obtained. With the Stockbreeder, you can set your animal to breed automatically
                            without input so you can quickly raise your Breed Level in quick succession without having
                            to spend time training in between each level.
                            <br />
                            <br />
                            There are a few ways to increase Breed XP: <br />
                            <em>Completing any training:</em> {{ lookupService.getTrainingBreedGaugeIncrease(0) }}
                            XP<br />
                            <em>Successfully completing a free race:</em> {{ lookupService.getLocalBreedGaugeIncrease()
                            }} XP<br />
                            <em>Successfully completing a circuit race:</em> {{
                            lookupService.getCircuitBreedGaugeIncrease() }} XP<br /> <br />
                            As you progress, you'll find ways to increase the amount of XP gained.
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerBreedBarnRows')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>I've got too many animals -- how do I unlock more barns?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerBreedBarnRows">
                        <div class="expanderMargin"></div>
                        <p>
                            Raise your circuit rank! As you progress, you'll unlock more rows of 3 barns.
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerAllAnimals')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What are all of the animals and course types?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerAllAnimals">
                        <div class="expanderMargin"></div>
                        <div>
                            <span class="flatlandColor keyword">Flatland</span>
                            <br />
                            <span class="keyword">Horse</span> - {{ globalService.getAnimalDescription("Horse") }}
                            <br />
                            <span class="keyword">Cheetah</span> - {{ globalService.getAnimalDescription("Cheetah") }}
                            <br />
                            <span class="keyword">Hare</span> - {{ globalService.getAnimalDescription("Hare") }}
                            <br />
                            <span class="keyword">Warthog</span> - {{ globalService.getAnimalDescription("Warthog") }}
                            <br />
                            <br />
                            <span class="mountainColor keyword">Mountain</span>
                            <br />
                            <span class="keyword">Monkey</span> - {{ globalService.getAnimalDescription("Monkey") }}
                            <br />
                            <span class="keyword">Goat</span> - {{ globalService.getAnimalDescription("Goat") }}
                            <br />
                            <span class="keyword">Gecko</span> - {{ globalService.getAnimalDescription("Gecko") }}
                            <br />
                            <br />
                            <div>
                                <span [ngClass]='seeOceanCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'
                                    (click)="viewSpoiler('Ocean Course Type')"><span class="hidden">View
                                        Spoiler</span><span [ngClass]='seeOceanCourseTypeSpoiler ? "waterColor" : ""'
                                        class="keyword">Ocean</span></span>
                                <br />
                                <span [ngClass]='seeOceanCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'
                                    (click)="viewSpoiler('Ocean Course Type')"><span class="hidden">View
                                        Spoiler</span><span class="keyword">Dolphin</span> - {{
                                    globalService.getAnimalDescription("Dolphin") }}</span>
                                <br />
                                <span [ngClass]='seeOceanCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'
                                    (click)="viewSpoiler('Ocean Course Type')"><span class="hidden">View
                                        Spoiler</span><span class="keyword">Shark</span> - {{
                                    globalService.getAnimalDescription("Shark") }}</span>
                                <br />
                                <span [ngClass]='seeOceanCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'
                                    (click)="viewSpoiler('Ocean Course Type')"><span class="hidden">View
                                        Spoiler</span><span class="keyword">Octopus</span> - {{
                                    globalService.getAnimalDescription("Octopus") }}</span>
                                <br />
                                <span [ngClass]='seeOceanCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'
                                    (click)="viewSpoiler('Ocean Course Type')"><span class="hidden">View
                                        Spoiler</span><span class="keyword">Whale</span> - {{
                                    globalService.getAnimalDescription("Whale") }}</span>
                                <br />
                                <br />
                            </div>
                            <div>
                                <span (click)="viewSpoiler('Tundra Course Type')"
                                    [ngClass]='seeTundraCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><span [ngClass]='seeTundraCourseTypeSpoiler ? "tundraColor" : ""'
                                        class="keyword">Tundra</span></span>
                                <br />
                                <span (click)="viewSpoiler('Tundra Course Type')"
                                    [ngClass]='seeTundraCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><em
                                        [innerHTML]="globalService.getTundraDescription()"></em></span>
                                <br />
                                <span (click)="viewSpoiler('Tundra Course Type')"
                                    [ngClass]='seeTundraCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><span class='keyword'>Penguin</span> - {{
                                    globalService.getAnimalDescription("Penguin")
                                    }}</span>
                                <br />
                                <span (click)="viewSpoiler('Tundra Course Type')"
                                    [ngClass]='seeTundraCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><span class='keyword'>Caribou</span> - {{
                                    globalService.getAnimalDescription("Caribou")
                                    }}</span>
                                <br />
                                <br />
                            </div>
                            <div>
                                <span (click)="viewSpoiler('Volcanic Course Type')"
                                    [ngClass]='seeVolcanicCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><span
                                        [ngClass]='seeVolcanicCourseTypeSpoiler ? "volcanicColor" : ""'
                                        class="keyword">Volcanic</span></span>
                                <br />
                                <span (click)="viewSpoiler('Volcanic Course Type')"
                                    [ngClass]='seeVolcanicCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><em
                                        [innerHTML]="globalService.getVolcanicDescription()"></em></span>
                                <br />
                                <span (click)="viewSpoiler('Volcanic Course Type')"
                                    [ngClass]='seeVolcanicCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><span class='keyword'>Salamander</span> - {{
                                    globalService.getAnimalDescription("Salamander") }}</span>
                                <br />
                                <span (click)="viewSpoiler('Volcanic Course Type')"
                                    [ngClass]='seeVolcanicCourseTypeSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                        class="hidden">View
                                        Spoiler</span><span class='keyword'>Fox</span> - {{
                                    globalService.getAnimalDescription("Fox") }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerTerrain')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What are the different terrain options when racing?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerTerrain">
                        <div class="expanderMargin"></div>
                        <p>
                            Every race leg will have a random terrain. Each terrain may have a positive or negative
                            effect for your racer and should be considered when thinking about which animal is going to
                            race a particular leg. The terrain options are below:
                            <br />
                            <br />
                            <strong>Sunny</strong>
                            <br />
                            <span [innerHTML]="sunnyTerrainInfo"></span>
                            <br />
                            <strong>Rainy</strong>
                            <br />
                            <span [innerHTML]="rainyTerrainInfo"></span>
                            <br />
                            <strong>Stormy</strong>
                            <br />
                            <span [innerHTML]="stormyTerrainInfo"></span>
                            <br />
                            <strong>Torrid</strong>
                            <br />
                            <span [innerHTML]="torridTerrainInfo"></span>
                            <br />
                            <strong>Maelstrom</strong>
                            <br />
                            <span [innerHTML]="maelstromTerrainInfo"></span>
                            <br />
                            <strong>Snowfall</strong>
                            <br />
                            <span [innerHTML]="snowfallTerrainInfo"></span>
                            <br />
                            <strong>Hailstorm</strong>
                            <br />
                            <span [innerHTML]="hailstormTerrainInfo"></span>
                            <br />
                            <strong>Ashfall</strong>
                            <br />
                            <span [innerHTML]="ashfallTerrainInfo"></span>
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerBreedKeybinds')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What keybinds or similar shortcuts are there?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerBreedKeybinds">
                        <div class="expanderMargin"></div>
                        <p>
                            Use the left and right arrow keys to quickly jump between barns under the 'Barns' page and
                            between animals under the 'Animals' page.
                            <br />
                            Use the ctrl, shift, and alt keys to add multipliers to certain items in the shop to buy
                            them in bulk.
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerSettings')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What does each setting do?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerSettings">
                        <div class="expanderMargin"></div>
                        <p>
                            <strong>Auto Skip Race Info</strong> - {{ lookupService.getSettingDescriptions("Auto Skip
                            Race Info") }}
                            <br />
                            <br />
                            <strong>Finish Training Before Switching</strong> - {{
                            lookupService.getSettingDescriptions("Finish Training Before Switching") }}
                            <br />
                            <br />
                            <strong>Hide Tips</strong> - {{ lookupService.getSettingDescriptions("Hide Tips") }}
                            <br />
                            <br />
                            <strong>Use Numbers For Ranks</strong> - {{ lookupService.getSettingDescriptions("Use
                            Numbers For Circuit Rank") }}
                            <br />
                            <br />
                            <strong>Auto Start Event Race</strong> - {{ lookupService.getSettingDescriptions("Auto Start
                            Event Race") }}
                            <br />
                            <br />
                            <strong>Race Display Info</strong> - {{ lookupService.getSettingDescriptions("Race Display
                            Info") }}
                            <br />
                            <br />
                            <strong>Quick View Barn</strong> - {{ lookupService.getSettingDescriptions("Quick View
                            Barn") }}
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerFeedback')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>I'm having an issue with my game or have some feedback, how can I contact you?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerFeedback">
                        <div class="expanderMargin"></div>
                        <p>Feel free to use the links at the bottom right or email me at CulturaIdle@gmail.com to get in
                            touch. </p>
                    </div>
                </div>
                <hr />
            </div>

            <div *ngIf="currentSection === faqSectionsEnum.progression">
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerOverwhelmed')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>I'm overwhelmed -- what am I supposed to be doing? What are all of the different races?
                            </p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerOverwhelmed">
                        <div class="expanderMargin"></div>
                        <p>That's okay! There is a lot of information that comes at you at first. The first thing to
                            understand is that this game has two basic loops at its core: Training/Racing cycles and
                            Breeding cycles. At the beginning, you simply want to make sure your animals are training in
                            a balanced way.
                            Make sure to pay attention to what each animal's diminishing returns value is (20 by
                            default), because after you train a base stat to that point then any further training of
                            that stat becomes progressively weaker. You can keep up with your animal's stats and
                            Diminishing Returns value by viewing any particular animal after clicking 'Animals' in the
                            navigation menu. With that in mind, once you've got at least one animal of each available
                            course type with stats close to their Diminishing Returns value, you're ready to race.

                            When you click on the 'Races' section of the navigation menu, there are a few subsections at
                            the top. Here is what they mean:
                            <br />
                            <br />
                            <strong>Circuit Races:</strong> Raising your circuit rank as high as possible is your
                            ultimate aim, and completing Circuit Races is the only way to do so. You'll unlock new
                            animals, races, items, and upgrades by doing this. On this page, you also have access to
                            free races which
                            are easier races that provide a smaller amount of coin. Free race difficulty scales with
                            your circuit rank, so if you plan to play a more active playstyle then you may benefit from
                            not speeding through circuit ranks too quickly as you may have trouble completing free
                            races. If you are okay with a more idle play style though, then you can simply complete
                            Circuit Races as you are able to.
                            <br />
                            <strong>Special Races:</strong> These races types are unlocked as you increase your circuit
                            rank. They work just like Circuit Races in that you have to complete each rank's races
                            before you increase your rank, but they each reward something unique. For example, the Mono
                            Races you unlock at circuit rank 2 increase your animal's Diminishing Returns value.
                            Your rank at any particular Special Race cannot exceed your circuit rank, so as you increase
                            your circuit rank make sure to check back and complete your Special Races as you are able
                            to.
                            <br />
                            <strong>Event Races:</strong> After reaching circuit rank 13, you have access to the Grand
                            Prix. The Grand Prix is a multi day race that runs in the background where you can easily
                            swap in and out different racers. This race may be difficult for those who are just starting
                            and you are safe to ignore it until you have a handle on everything else.
                            <br />
                            <strong>Training Track</strong>: At the training track, each animal has the opportunity to
                            race against a number of competitors to gain some Coins and some unique rewards. You'll
                            likely need to raise your breed levels a bit before seeing success here, but do check in
                            after you've played a little while and give it a shot.
                            <br />
                            <br />
                            Once you've trained your animals up to their Diminishing Returns value, you've completed
                            Special Races to increase your Diminishing Returns value, and you've pushed your Circuit
                            Rank as high as you can go, that's when you will want to start breeding your animals. There
                            are other FAQ sections dedicated to Breeding so check those out for more information. After
                            Breeding for awhile, you'll go back to training and racing. Cycling between these two flows
                            is key to success in Cultura. Once you start unlocking multiple animals per course type, you
                            can have one set breeding while the others train and race to cut down on wait time.
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer1')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>I'm stuck early on, how should I progress?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswer1">
                        <div class="expanderMargin"></div>
                        <p>In the early game, your biggest obstacles will be coins and breed level. Using the
                            Stockbreeder to Auto Breed your animals can give them a big boost in stats. <em>Note that
                                you should typically
                                wait to Breed until you've gotten as far as you can in circuit races as Breeding will
                                reset your base stats to
                                their defaults and require you to train them back up again. </em>
                            <br />
                            <br />
                            If you are having a hard time collecting coins, look into buying the Money Mark and Team
                            Managers from the Shop
                            and upgrading your barns to Attractions to build passive income. The Money Mark will add a
                            new competitor to your races (gold colored as opposed to black) that will run 25% faster
                            than the average speed. If you finish the race first, your coin gain will increase by
                            25%.<br />
                            Team Managers will automatically run free races for you every reset period, making sure
                            you're getting as much value as possible from free races. <br />
                            Attractions require reaching barn level 10 and will take a little longer than buying the
                            Money Mark and Team Manager, but it will provide passive income as long as there is an
                            animal training in the barn.
                            <br />
                            <br />
                            Some early game goals to set for yourself are to complete the Novice level training track,
                            buy enough barns to train at least 1 animal of each course type available to you, raise your
                            circuit rank, and make sure you raise your mono rank to match your circuit rank.
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer2')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What do team managers do and how do I set auto race?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswer2">
                        <div class="expanderMargin"></div>
                        <p>After buying a Team Manager from the shop, you'll have the ability to set a deck as your
                            "Auto
                            Run Free Race" deck.
                            Once selected, this deck will immediately run free races as soon as the time period resets
                            creating a steady stream of income (assuming you win, of course!).
                            <br />
                            <br />
                            To set a deck as your "Auto Run Free Race" deck, select 'Decks' on the right and then select
                            the
                            button that says "Auto Run Free Race" by the deck you want to select. Note that this option
                            will
                            not be available until you buy a Team Manager.
                        </p>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer3')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What does upgrading a barn do and how do I specialize my barn?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswer3">
                        <div class="expanderMargin"></div>
                        <p>After reaching a certain circuit rank, you will gain the ability to upgrade your barns. Every
                            level you upgrade, you gain a multiplier for a particular stat when training. Hovering over
                            your
                            barn level when selecting a barn will show you your current multipliers. Increasing your
                            barn
                            level can be a great way to get you back in the race after breeding.
                            <br />
                            <br />
                            At barn level 10, you will instead have the option to specialize. Subsequently, every 10
                            levels
                            will improve your specialization instead of giving a stat multiplier. The current
                            specialization
                            options are below.<br /><br />
                            <strong>Training Facility - {{ lookupService.getInDepthSpecializationDescription("Training
                                Facility") }}</strong>
                            <br />
                            <strong (click)="viewSpoiler('Item Set 2')"
                                [ngClass]='seeItemSet2Spoiler ? "viewSpoiler" : "spoilerText"'><span class="hidden">View
                                    Spoiler</span> Training Facility Improvements - {{
                                lookupService.getSpecialtyItemDescription("Training Facility Improvements") }}</strong>
                            <br />
                            <br />
                            <strong>Breeding Grounds - {{ lookupService.getInDepthSpecializationDescription("Breeding
                                Grounds") }}</strong>
                            <br />
                            <strong (click)="viewSpoiler('Item Set 2')"
                                [ngClass]='seeItemSet2Spoiler ? "viewSpoiler" : "spoilerText"'><span class="hidden">View
                                    Spoiler</span> Breeding Grounds Improvements - {{
                                lookupService.getSpecialtyItemDescription("Breeding Grounds Improvements") }}</strong>
                            <br />
                            <br />
                            <strong (click)="viewSpoiler('Attraction Specialization')"
                                [ngClass]='seeAttractionSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                    class="hidden">View
                                    Spoiler</span> Attraction - {{
                                lookupService.getInDepthSpecializationDescription("Attraction") }}</strong>
                            <br />
                            <strong (click)="viewSpoiler('Item Set 2')"
                                [ngClass]='seeItemSet2Spoiler ? "viewSpoiler" : "spoilerText"'><span class="hidden">View
                                    Spoiler</span> Attraction Improvements - {{
                                lookupService.getSpecialtyItemDescription("Attraction Improvements") }}</strong>
                            <br />
                            <br />
                            <strong (click)="viewSpoiler('Research Center Specialization')"
                                [ngClass]='seeResearchCenterSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                    class="hidden">View Spoiler</span>Research Center - {{
                                lookupService.getInDepthSpecializationDescription("Research Center") }}</strong>
                            <br />
                            <strong (click)="viewSpoiler('Research Center Specialization')"
                                [ngClass]='seeResearchCenterSpoiler ? "viewSpoiler" : "spoilerText"'><span
                                    class="hidden">View
                                    Spoiler</span> Research Center Improvements - {{
                                lookupService.getSpecialtyItemDescription("Research Center Improvements") }}</strong>
                        </p>
                    </div>
                </div>
                <hr />
                <div *ngIf="lookupService.isItemUnlocked('duoRace')">
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer4')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>What is the Incubator? How does the Incubator Upgrade item work?</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswer4">
                        <div class="expanderMargin"></div>
                        <p>Once you've successfully completed a Duo Race, you will have access to the Incubator. The
                            Incubator lets you select a trait for an individual animal that lets your customize your
                            stats
                            further.
                            A trait increases one stat and decreases another. As you increase your Research Level by
                            completing Duo Races, you will unlock new traits and increase the amount the traits
                            increase/decrease your stats. Note that traits will only decrease the chosen stat by a
                            maximum
                            of 25%.
                            <br />
                            <br />
                            The Incubator Upgrade item gives you even further control over how you build your animals
                            and
                            allows newer animals to quickly catch up to ones of higher breed level. After purchasing
                            this
                            item, every time you breed you will gain a permanent increase to the stat your trait
                            currently
                            is providing you. The increase amount depends on your current Research Level. For example:
                            <br />
                            <br />
                            If you have a Research Level of 15 and apply the <span class="keyword">Alert</span> trait to
                            your Horse, it will gain 15% <span class="keyword">Focus</span> and lose 15% <span
                                class="keyword">Endurance</span> through the trait itself.
                            <br />
                            <em>If you have Incubator Upgrade Level 1:</em> each time you Breed your Horse, it will gain
                            an
                            additional modifier of .01 to its <span class="keyword">Focus</span> stat. 10% of the
                            positive
                            trait value of 15% would come out to .015. Incubator Upgrade Level 1 only allows for the
                            first
                            10% of your trait value to contribute to the modifier, so you would gain .01.
                            <br />
                            <em>If you have Incubator Upgrade Level 2:</em> each time you Breed your Horse, it will gain
                            an
                            additional modifier of .015 to its <span class="keyword">Focus</span> stat. 10% of the
                            positive
                            trait value of 15% would come to .015. Incubator Upgrade Level 2 allows for the first 25% of
                            your trait value to contribute to the modifier. Because your trait value is only 15%, it
                            will
                            contribute in its entirety.
                        </p>
                    </div>
                    <hr />
                </div>
            </div>

            <div *ngIf="currentSection === faqSectionsEnum.calculators">
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerRenownCalculator')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>Coin gain from Renown</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerRenownCalculator">
                        <div class="expanderMargin"></div>
                        <div><em>Enter a Renown amount to see what the modifier would be on Coins won from races.</em>
                        </div>
                        <br />
                        <br />
                        <div class="inputsAndResult">
                            <div class="mb-3 inputs">
                                <label for="renown-amount" class="shortLabelMargin progressionKeyword">Renown:</label>
                                <input id="renown-amount" type="number" class="spaced" maxlength="20"
                                    [(ngModel)]="coinGainRenownAmount">
                            </div>
                            <div class="result">
                                <span>Result:</span>
                                <div [ngClass]="{'inactiveCalculation': coinGainRenownAmount > 50}"><em>If Renown <= 50:
                                            <span class='progressionKeyword'>{{coinGainRenownAmount}}</span></em> =
                                    <span *ngIf="coinGainRenownAmount <= 50" class='keyword'>{{ renownCoinGain }}%
                                        Additional Coins</span>
                                </div>
                                <br />
                                <div [ngClass]="{'inactiveCalculation': coinGainRenownAmount <= 50}"><em>If Renown > 50:
                                        500 *
                                        log(.0035 * - (<span class="progressionKeyword">{{coinGainRenownAmount}}</span>
                                        - 50) + 1) + 50 </em> = <span class='keyword'
                                        *ngIf="coinGainRenownAmount > 50">{{ renownCoinGain.toFixed(2) }}%
                                        Additional Coins</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerTrainingBreedXpCalculator')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>Breed XP gain from Training</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerTrainingBreedXpCalculator">
                        <div class="expanderMargin"></div>
                        <div><em>Select an animal or enter your own values to see how much Breed XP you would gain from
                                completing a single training. Selecting an animal pulls from their current bonuses.</em>
                        </div>
                        <br />
                        <br />
                        <div class="inputsAndResult">
                            <div class="mb-3 inputs">
                                <div class="dropdownSelection">
                                    <label for="breed-xp-animal" class="keyword">Animal:</label>
                                    <select name="breed-xp-animal" id="breed-xp-animal" class="spaced"
                                        [(ngModel)]="selectedAnimalType" (change)="newAnimalSelected()">
                                        <option *ngFor="let animal of availableAnimals" [value]="animal.type">
                                            {{animal.name}}</option>
                                    </select>
                                </div>
                                <em>or</em>
                                <div>
                                    <label for="bonus-breed-xp" class="longLabelMargin keyword">Bonus Training Breed
                                        XP:</label>
                                    <input id="bonus-breed-xp" type="number" (change)="animalNotSelected()"
                                        class="spaced" maxlength="20" [(ngModel)]="bonusBreedXp">
                                    <br />
                                    <label for="breeding-grounds-spec-level" class="longLabelMargin keyword">Breeding
                                        Grounds
                                        Specialization Level:</label>
                                    <input id="breeding-grounds-spec-level" type="number" class="spaced" maxlength="20"
                                        [(ngModel)]="breedingGroundsSpecializationLevel">
                                </div>
                            </div>
                            <div class="result">
                                <span>Result:</span>
                                <br />
                                <em>(5 + <span class='keyword'>{{this.bonusBreedXp}}</span>) * (1 + <span
                                        class='keyword'>{{breedingGroundsSpecializationLevel}}</span> * .1)
                                </em> =
                                <span class='keyword'>{{ trainingBreedXpGain }} XP gained after completing any
                                    Training</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerBarnSpecializationGainCalculator')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>Barn Specialization Calculator</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerBarnSpecializationGainCalculator">
                        <div class="expanderMargin"></div>
                        <div class="mb-3">
                            <div><em>Select a Specialization Type and enter the Barn Upgrade Level or Specialization
                                    Level to see what impact that specialization would have. Specialization Level
                                    corresponds Barn Upgrade Level * 10 because your specialization improves every 10
                                    barn upgrade levels.</em></div>
                            <br />
                            <br />
                            <div class="inputsAndResult">
                                <div class="inputs">
                                    <label for="specialization-options" class="keyword">Specialization:</label>
                                    <select name="specialization-options" class="spaced" id="specialization-options"
                                        [(ngModel)]="selectedSpecialization" (change)="checkForImprovements()">
                                        <option [value]="1">Breeding Grounds</option>
                                        <option [value]="2">Training Facility</option>
                                        <option *ngIf="seeAttractionSpoiler" [value]="3">Attraction</option>
                                        <option *ngIf="seeResearchCenterSpoiler" [value]="4">Research Center</option>
                                    </select>
                                    <div *ngIf="seeItemSet2Spoiler">
                                        <br />
                                        <label for="hasImprovements" class="labelMargin keyword">Barn improvements
                                            unlocked?</label>
                                        <input type="checkbox" class="spaced" id="hasImprovements"
                                            [checked]="hasBarnImprovements" (input)="toggleHasImprovements()">
                                    </div>
                                    <br />
                                    <br />
                                    <div>
                                        <label for="barn-upgrade-level" class="labelMargin keyword">Barn Upgrade
                                            Level:</label>
                                        <input id="barn-upgrade-level" type="number" (change)="changeBarnUpgradeLevel()"
                                            class="spaced" maxlength="20" [(ngModel)]="barnUpgradeLevel">
                                        <br />
                                        <em>or</em>
                                        <br />
                                        <label for="barn-specialization-level" class="labelMargin keyword">Barn
                                            Specialization Level:</label>
                                        <input id="barn-specialization-level" type="number"
                                            (change)="changeBarnSpecializationLevel()" class="spaced" maxlength="20"
                                            [(ngModel)]="barnSpecializationLevel">
                                    </div>
                                </div>
                                <div class="result">
                                    <span>Result:</span>
                                    <br />
                                    <span [innerHTML]="barnSpecializationLevelAmount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div *ngIf="lookupService.isItemUnlocked('duoRace')">
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerIncubatorGrowthCalculator')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>Modifier gain from Incubator Upgrade</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerIncubatorGrowthCalculator">
                        <div class="expanderMargin"></div>
                        <div class="mb-3">
                            <div><em>Enter a Facility Level and an Incubator Upgrade Level between 1 and 4 to see what
                                    the
                                    modifier would be on the stat corresponding to the positive trait. This pulls from
                                    your current resources by default.</em></div>
                            <br />
                            <br />
                            <div class="inputsAndResult">
                                <div class="inputs">
                                    <label for="incubator-upgrade-level" class="labelMargin specialtyKeyword">Incubator
                                        Upgrade
                                        Level:</label>
                                    <input id="incubator-upgrade-level" type="number" class="spaced" maxlength="20"
                                        [(ngModel)]="incubatorUpgradeLevel">
                                    <br />
                                    <label for="facility-level" class="labelMargin progressionKeyword">Facility
                                        Level:</label>
                                    <input id="facility-level" type="number" class="spaced" maxlength="20"
                                        [(ngModel)]="facilityLevel">

                                </div>
                                <div class="result">
                                    <span>Result:</span>
                                    <br />
                                    <em><span class='progressionKeyword'>{{facilityLevel}}</span> * .001 with Incubator
                                        Upgrade Level <span class='specialtyKeyword'>{{ incubatorUpgradeLevel
                                            }}</span>
                                    </em>
                                    = <span class='keyword'>*{{ incubatorModifierAmount }} to Positive Trait Stat per
                                        Breed
                                        Level</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div *ngIf="legacyTrackAvailable">
                    <div>
                        <div class="expanderMargin">
                            <button type="button" aria-label="Expand"
                                (click)="expandAnswer('faqAnswerNectarOfTheGodsCalculator')">+</button>
                        </div>
                        <div class="faqQuestion">
                            <p>Nectar of the Gods Reset Gain</p>
                        </div>
                    </div>
                    <div class="faqAnswer hide" id="faqAnswerNectarOfTheGodsCalculator">
                        <div class="expanderMargin"></div>
                        <div><em>Select an animal or enter your own values to see how much your Breed Modifier will increase. Selecting an animal pulls from their current breed level.</em>
                        </div>
                        <br />
                        <br />
                        <div class="inputsAndResult">
                            <div class="mb-3 inputs">
                                <div class="dropdownSelection">
                                    <label for="breed-xp-animal" class="keyword">Animal:</label>
                                    <select name="breed-xp-animal" id="breed-xp-animal" class="spaced"
                                        [(ngModel)]="notgSelectedAnimalType" (change)="newNotgAnimalSelected()">
                                        <option *ngFor="let animal of availableAnimals" [value]="animal.type">
                                            {{animal.name}}</option>
                                    </select>
                                </div>
                                <em>or</em>
                                <div>
                                    <label for="notg-breed-level" class="shortLabelMargin keyword">Breed Level:</label>
                                    <input id="notg-breed-level" type="number" (change)="notgAnimalNotSelected()"
                                        class="spaced" maxlength="20" [(ngModel)]="notgBreedLevel">                                    
                                </div>
                                <div *ngIf="seePinnacleSpoiler">
                                    <br />
                                    <label for="hasOrbInfuser" class="labelMargin keyword">Orb Infuser purchased?</label>
                                    <input type="checkbox" class="spaced" id="hasImprovements"
                                        [checked]="hasOrbInfuser" (input)="toggleHasOrbInfuser()">
                                </div>
                            </div>
                            <div class="result">
                                <span>Result:</span>
                                <br />                             
                                <div [ngClass]="{'inactiveCalculation': notgBreedLevel > 1500}"><em>If Breed Level <= 1500: </em>
                                <em><span class="keyword">{{notgBreedLevel}}</span> / 100</em> =
                                <span class='keyword'>{{ notgBreedModifierGain }}% added to Breed Modifier per Breed Level multiplier</span>
                                </div>
                                <div [ngClass]="{'inactiveCalculation': notgBreedLevel <= 1500}"><em>If Breed Level > 1500: </em>
                                    <em>5 * (log(.005 * <span class="keyword">{{notgBreedLevel}}</span> + 1)) + 15</em> =
                                    <span class='keyword'>{{ notgBreedModifierGain }}% added to Breed Modifier per Breed Level multiplier</span>
                                    </div>
                                    
                                <br/>
                                <div *ngIf="hasOrbInfuser">
                                    <em><span class="keyword">{{notgBreedLevel}}</span> / 1500</em> =
                                <span class='keyword'>{{ notgOrbInfuserGain }}% added to Orb Stat Bonus % per Orb Level</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>