<div class="faqView">
    <div class="marginGrid">
        <div class="view">
            <div class="info">
                <h2>Frequently Asked Questions</h2>
                <em>This FAQ and game is still a work in progress! Bear with me if certain features aren't fully fleshed out and developed yet. I tend to develop in a way where I will put something out still a bit bare bones and add more to it over time until it is complete. If you have any feedback at all, please let me know using one of the links on the bottom right. Thank you so much for playing and hope you're enjoying it!</em>
            </div>
            <br />
            <br />
            <!-- Expander - Question -->
            <!-- Answer -->
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer1')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>I'm stuck early on, how should I progress?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer1">
                    <div class="expanderMargin"></div>
                    <p>In the early game, your biggest obstacles will be coins and breed level. Using the Stockbreeder to Auto Breed your animals can give them a big boost in stats. 
                        <br />
                        <br />
                        If you are having a hard time collecting coins, look into buying Team Managers from the Shop and upgrading your barns to Attractions to build passive income. </p>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswerBreedGuide')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>What does Breeding do? How do I gain Breed XP?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswerBreedGuide">
                    <div class="expanderMargin"></div>
                    <p>
                        Breeding is one of the best way to increase your animals' racing capabilities. It is a reset mechanic, meaning all of the base stats
                        your animal has gained will be reset back to their default levels, and in return gain a permanent multiplier to your racing stats. 
                        <br />
                        <br />
                        Every time you Breed, you gain a 5% increase to the amount your base stats contribute to your racing stats. If you hover over your
                        base stats (or tap if you are on mobile) when selecting an animal on the Animal page, you will see a breakdown of all multipliers
                        you have obtained. Increasing your Breed level is the first step in reaching new heights in Cultura.
                        <br />
                        <br />
                        There are a few ways to increase Breed XP: <br />
                        <em>Completing a training:</em> {{ lookupService.getTrainingBreedGaugeIncrease(0) }} XP<br/>
                        <em>Successfully completing a free race:</em> {{ lookupService.getLocalBreedGaugeIncrease() }} XP<br/>
                        <em>Successfully completeing a circuit race:</em> {{ lookupService.getCircuitBreedGaugeIncrease() }} XP<br/> <br/>
                        As you progress, you'll find ways to increase the amount of XP gained.
                    </p>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer2')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>What do team managers do and how do I set auto race?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer2">
                    <div class="expanderMargin"></div>
                    <p>After buying a Team Manager from the shop, you'll have the ability to set a deck as your "Auto Run Free Race" deck. 
                        Once selected, this deck will immediately run free races as soon as the time period resets creating a steady stream of income (assuming you win, of course!).
                    <br/>
                    <br/>
                    To set a deck as your "Auto Run Free Race" deck, select 'Decks' on the right and then select the button that says "Auto Run Free Race" by the deck you want to select. Note that this option will not be available until you buy a Team Manager.
                </p>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer3')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>What does upgrading a barn do and how do I specialize my barn?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer3">
                    <div class="expanderMargin"></div>
                    <p>After reaching a certain circuit rank, you will gain the ability to upgrade your barns. Every level you upgrade, you gain a multiplier for a particular stat when training. Hovering over your barn level when selecting a barn will show you your current multipliers. Increasing your barn level can be a great way to get you back in the race after breeding.
                    <br/>
                    <br/>                    
                    At barn level 10, you will instead have the option to specialize. Subsequently, every 10 levels will improve your specialization instead of giving a stat multiplier. The current specialization options are below.<br/><br />
                    <strong>Training Facility - {{ lookupService.getInDepthSpecializationDescription("Training Facility") }}</strong>
                    <br/>
                    <strong>Breeding Grounds - {{ lookupService.getInDepthSpecializationDescription("Breeding Grounds") }}</strong>
                    <br/>
                    <strong (click)="viewSpoiler('Attraction Specialization')" [ngClass]='seeAttractionSpoiler ? "viewSpoiler" : "spoilerText"'><span class="hidden">View Spoiler</span> Attraction - {{ lookupService.getInDepthSpecializationDescription("Attraction") }}</strong>
                    <br/>
                    <strong (click)="viewSpoiler('Research Center Specialization')" [ngClass]='seeResearchCenterSpoiler ? "viewSpoiler" : "spoilerText"'><span class="hidden">View Spoiler</span>Research Center - {{ lookupService.getInDepthSpecializationDescription("Research Center") }}</strong>
                </p>
                </div>
            </div>
            <hr />
            <div *ngIf="lookupService.isItemUnlocked('duoRace')">
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswer4')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>What is the Incubator? How does the Incubator Upgrade item work?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswer4">
                    <div class="expanderMargin"></div>
                    <p>Once you've successfully completed a Duo Race, you will have access to the Incubator. The Incubator lets you select a trait for an individual animal that lets your customize your stats further. 
                        A trait increases one stat and decreases another. As you increase your Research Level by completing Duo Races, you will unlock new traits and increase the amount the traits increase/decrease your stats. Note that traits will only decrease the chosen stat by a maximum of 25%.
                    <br/>
                    <br/>
                    The Incubator Upgrade item gives you even further control over how you build your animals and allows newer animals to quickly catch up to ones of higher breed level. After purchasing this item, every time you breed you will gain a permanent increase to the stat your trait currently is providing you. The increase amount depends on your current Research Level. For example:
                    <br/>
                    <br/>
                    If you have a Research Level of 15 and apply the <span class="keyword">Alert</span> trait to your Horse, it will gain 15% <span class="keyword">Focus</span> and lose 15% <span class="keyword">Endurance</span> through the trait itself. 
                    <br/>
                    <em>If you have Incubator Upgrade Level 1:</em> each time you Breed your Horse, it will gain an additional modifier of .01 to its <span class="keyword">Focus</span> stat. 10% of the positive trait value of 15% would come out to .015. Incubator Upgrade Level 1 only allows for the first 10% of your trait value to contribute to the modifier, so you would gain .01. 
                    <br/>
                    <em>If you have Incubator Upgrade Level 2:</em> each time you Breed your Horse, it will gain an additional modifier of .015 to its <span class="keyword">Focus</span> stat. 10% of the positive trait value of 15% would come to .015. Incubator Upgrade Level 2 allows for the first 25% of your trait value to contribute to the modifier. Because your trait value is only 15%, it will contribute in its entirety. 
                </p>
                </div>
                <hr />
            </div>
            <div>
                <div>
                    <div class="expanderMargin">
                        <button type="button" aria-label="Expand" (click)="expandAnswer('faqAnswerFeedback')">+</button>
                    </div>
                    <div class="faqQuestion">
                        <p>I'm having an issue with my game or have some feedback, how can I contact you?</p>
                    </div>
                </div>
                <div class="faqAnswer hide" id="faqAnswerFeedback">
                    <div class="expanderMargin"></div>
                    <p>Feel free to use the links at the bottom right or email me at CulturaIdle@gmail.com to get in touch. </p>
                </div>
            </div>
            <hr />            
        </div>
    </div>
</div>