.faqView {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
    color: var(--foreground-default);
}

.marginGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 1% 1fr 1%;
    grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas:
        ". view .";
}

.view {
    grid-area: view;
}

.info {
    text-align: center;
}

.faqQuestion {
    display: inline-block;
    width: 95%;
    font-weight: bold;
}

.hide {
    display: none;
}

.expanderMargin {
    display: inline-block;
    width: 5%;
}

.spaced {
    margin-left: .5em;
  }

  .inputsAndResult {
    display: flex;    
  }

  .inactiveCalculation {
    opacity: .5;
  }

  .inputs {
    width: 50%;
  }

  .results {
    width: 50%;
  }

.spoilerText {
    background-color: gray;
    color: transparent;
    user-select: none;
    position: relative;
    display: inline-block;
    min-width: 8rem;
}

.spoilerText:hover>.hidden {
    display: block;
    color: white;    
}

.active {
    font-weight: bold;
    color: var(--foreground-secondary);
}

.shortLabelMargin {
    min-width: 15%;
}

.labelMargin {
    min-width: 25%;
}

.longLabelMargin {
    min-width: 40%;
}

.hidden {
    display: none;
    position: absolute;
}

.subsections {
    display: flex;
    justify-content: space-evenly;
}


.viewSpoiler {
    background-color: inherit;
    color: inherit;
}

@media (max-width: 800px) {
    .expanderMargin {
        width: auto;
        margin-right: 1rem;
    }

    .faqQuestion {
        width: auto;
    }
}