<div class="incubatorView">
    <div class="info" *ngIf="!animalSelected">
        <h2>Incubator</h2>
        <div class="description">
            Select an animal and the desired trait to begin the incubation process. While incubating, you will not be able to train
            the selected animal. The chosen trait will remain on the animal until a new trait is selected or the trait is removed.
        </div>
        <hr/>
    </div>
    <div *ngIf="researchLevel > 0">
        <div class="selectAnimalView" *ngIf="!animalSelected">            
            <div>
                <app-animal-list [availableAnimals]="availableAnimals" [isIncubatorDetailView]="true" (selectedAnimal)="selectedAnimal($event)">
                </app-animal-list>
            </div>
        </div>
        <div class="selectedView" *ngIf="animalSelected">
            <app-incubator-traits [selectedAnimal]="animal" (returnEmitter)="returnToAnimalView($event)">
            </app-incubator-traits>
        </div>
    </div>
    <div *ngIf="researchLevel === 0">
        To access the incubator, you need to improve your research level. Try participating in Duo Races.
    </div>
</div>