<div class="navigation">
    <button (click)="switchView(navigationEnum.barn)" class="buttonAsText clickableText" [ngClass]="{'active': selectedNavigation === navigationEnum.barn, 'tutorialActive' : tutorial6Active }">Barns</button>
    <hr />
    <button (click)="switchView(navigationEnum.raceselection)" class="buttonAsText clickableText" [ngClass]="{'active': selectedNavigation === navigationEnum.raceselection, 'tutorialActive' : tutorial3Active }">Races</button>
    <hr />             
    <button (click)="switchView(navigationEnum.animals)" class="buttonAsText clickableText" [ngClass]="selectedNavigation === navigationEnum.animals ? 'active' : ''">Animals</button>
    <hr />
    <button (click)="switchView(navigationEnum.relayTeams)" class="buttonAsText clickableText" [ngClass]="selectedNavigation === navigationEnum.relayTeams ? 'active' : ''">Relay Teams</button>
    <hr />
    <button (click)="switchView(navigationEnum.shop)" class="buttonAsText clickableText" [ngClass]="selectedNavigation === navigationEnum.shop ? 'active' : ''">Shop</button>
    <hr />
    <div *ngIf="incubatorAvailable">
        <button (click)="switchView(navigationEnum.incubator)" class="buttonAsText clickableText" [ngClass]="selectedNavigation === navigationEnum.incubator ? 'active' : ''">Incubator</button>
        <hr />
    </div> 
    <button (click)="switchView(navigationEnum.resources)" class="buttonAsText clickableText" [ngClass]="selectedNavigation === navigationEnum.resources ? 'active' : ''">Resources</button>
    <hr />
    <button (click)="switchView(navigationEnum.settings)" class="buttonAsText clickableText" [ngClass]="selectedNavigation === navigationEnum.settings ? 'active' : ''">Settings</button>
    <hr />
    <button class="buttonAsText clickableText" (click)="switchView(navigationEnum.stats)" [ngClass]="selectedNavigation === navigationEnum.stats ? 'active' : ''">Stats</button>
    <!--<p (click)="switchView(navigationEnum.stats)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.stats ? 'active' : ''">Stats</p>        -->
</div>