<div class="navigation">
    <p (click)="switchView(navigationEnum.barn)" class="clickableText" [ngClass]="{'active': selectedNavigation === navigationEnum.barn, 'tutorialActive' : tutorial6Active }">Barns</p>
    <hr />
    <p (click)="switchView(navigationEnum.raceselection)" class="clickableText" [ngClass]="{'active': selectedNavigation === navigationEnum.raceselection, 'tutorialActive' : tutorial3Active }">Races</p>
    <hr />         
    <!--<div *ngIf="trainingTrackAvailable">
        <p (click)="switchView(navigationEnum.trainingtrack)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.trainingtrack ? 'active' : ''">Training Track</p>
        <hr />
    </div>-->
    <p (click)="switchView(navigationEnum.animals)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.animals ? 'active' : ''">Animals</p>
    <hr />
    <p (click)="switchView(navigationEnum.decks)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.decks ? 'active' : ''">Decks</p>
    <hr />
    <p (click)="switchView(navigationEnum.shop)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.shop ? 'active' : ''">Shop</p>
    <hr />
    <div *ngIf="incubatorAvailable">
        <p (click)="switchView(navigationEnum.incubator)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.incubator ? 'active' : ''">Incubator</p>
        <hr />
    </div> 
    <p (click)="switchView(navigationEnum.resources)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.resources ? 'active' : ''">Resources</p>
    <hr />
    <p (click)="switchView(navigationEnum.settings)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.settings ? 'active' : ''">Settings</p>
    <hr />
    <p (click)="switchView(navigationEnum.stats)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.stats ? 'active' : ''">Stats</p>    
    <!--<hr />
    <p (click)="switchView(navigationEnum.faqs)" class="clickableText" [ngClass]="selectedNavigation === navigationEnum.faqs ? 'active' : ''">FAQs</p>    -->
</div>