<div class="navigation">
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.barn)">
        <button class="buttonAsText"
            [ngClass]="{'active': selectedNavigation === navigationEnum.barn, 'tutorialActive' : tutorial6Active }">Barns</button>
    </div>
    <hr />
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.raceselection)">
        <button class="buttonAsText"
            [ngClass]="{'active': selectedNavigation === navigationEnum.raceselection, 'tutorialActive' : tutorial3Active }">Races</button>
    </div>
    <hr />
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.animals)">
        <button class="buttonAsText"
            [ngClass]="{'active': selectedNavigation === navigationEnum.animals, 'tutorialActive' : tutorial9Active }">Animals</button>
    </div>
    <hr />
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.relayTeams)" >
        <button class="buttonAsText"
            [ngClass]="selectedNavigation === navigationEnum.relayTeams ? 'active' : ''">Relay Teams</button>
    </div>
    <hr />
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.shop)" >
        <button class="buttonAsText"
            [ngClass]="selectedNavigation === navigationEnum.shop ? 'active' : ''">Shop</button>
    </div>
    <hr />
    <div *ngIf="incubatorAvailable" class="navSpace clickableText" (click)="switchView(navigationEnum.incubator)">
        <button  class="buttonAsText"
            [ngClass]="selectedNavigation === navigationEnum.incubator ? 'active' : ''">Incubator</button>
        <hr />
    </div>
    <div class="navSpace clickableText">
        <button (click)="switchView(navigationEnum.resources)" class="buttonAsText"
            [ngClass]="selectedNavigation === navigationEnum.resources ? 'active' : ''">Resources</button>
    </div>
    <hr />
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.settings)" >
        <button class="buttonAsText"
            [ngClass]="selectedNavigation === navigationEnum.settings ? 'active' : ''">Settings</button>
    </div>
    <!--<hr />
    <div class="navSpace clickableText" (click)="switchView(navigationEnum.stats)">
        <button class="buttonAsText" 
            [ngClass]="selectedNavigation === navigationEnum.stats ? 'active' : ''">Stats</button>
    </div>    -->
</div>